<footer class="footer py-48">
    <div class="container">
        <div class="row gap-40">
            <!-- logo -->
            <div class="col-2">
                <!-- <a href="home.html"> -->
                    <img class="w-50" src="../assets/images/logo_footer.svg" alt="logo">
                <!-- </a> -->
            </div>
            <!-- Developers -->
            <div class="col-3">
                <h3>開發團隊</h3>
                <ul>
                    <li class="mb-4">
                        <a class="d-flex justify-content-between" href="https://www.linkedin.com/in/shu-ping-yu-238655268/"  target="_blank">
                            <span>Product Manager</span>
                            <span>Shu-Ping Yu</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a class="d-flex justify-content-between" href="https://www.linkedin.com/in/shu-ping-yu-238655268/"  target="_blank">
                            <span>Product Designer</span>
                            <span>Shu-Ping Yu</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a class="d-flex justify-content-between" href="https://www.linkedin.com/in/shu-ping-yu-238655268/" target="_blank">
                            <span>Front-End Engineer</span>
                            <span>Shu-Ping Yu</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a class="d-flex justify-content-between" href="https://www.linkedin.com/in/%E5%81%89%E5%87%B1-%E6%9E%97-668aaa204/" target="_blank">
                            <span>Front-End Consultant</span>
                            <span>Wei-Kai Lin</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a class="d-flex justify-content-between" href="https://www.linkedin.com/in/techleon/" target="_blank">
                            <span>Database Developer</span>
                            <span>Leon Wu</span>
                        </a>
                    </li>
                    <li class="mb-4">
                        <a class="d-flex justify-content-between" href="https://www.linkedin.com/in/techleon/" target="_blank">
                            <span>Back-End Developer</span>
                            <span>Leon Wu</span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between" href="https://a8607125167.wixsite.com/mysite/about"  target="_blank">
                            <span>Illustrator</span>
                            <span>Yi-Wen Fang</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Contact -->
            <div class="col-3">
                <a href="mailto:info@wavemocards.com">
                    <h3>聯絡我們</h3>
                    <span>info@wavemocards.com</span>
                </a>
            </div>
        </div>
    </div>
</footer>