<footer class="footer py-48">
    <div class="container">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
            <!-- logo -->
            <div class="footer-img mb-48 mb-lg-0 me-lg-96">
                <img class="w-100" src="../assets/images/logo_footer.svg" alt="logo">
            </div>
            <!-- Developers -->
            <div class="footer-text-box mb-48 mb-lg-0 me-lg-56">
                <h3 class="mb-16 fs-5">開發團隊</h3>
                <ul>
                    <li class="mb-8">
                        <a class="d-lg-flex justify-content-between" href="https://www.linkedin.com/in/shu-ping-yu-238655268/"  target="_blank">
                            <span>Product Manager</span>
                            <span class="mt-4 d-block text-end">Shu-Ping Yu</span>
                        </a>
                    </li>
                    <li class="mb-8">
                        <a class="d-lg-flex justify-content-between" href="https://www.linkedin.com/in/shu-ping-yu-238655268/"  target="_blank">
                            <span>Product Designer</span>
                            <span class="mt-4 d-block text-end">Shu-Ping Yu</span>
                        </a>
                    </li>
                    <li class="mb-8">
                        <a class="d-lg-flex justify-content-between" href="https://www.linkedin.com/in/shu-ping-yu-238655268/" target="_blank">
                            <span>Front-End Engineer</span>
                            <span class="mt-4 d-block text-end">Shu-Ping Yu</span>
                        </a>
                    </li>
                    <li class="mb-8">
                        <a class="d-lg-flex justify-content-between" href="https://www.linkedin.com/in/%E5%81%89%E5%87%B1-%E6%9E%97-668aaa204/" target="_blank">
                            <span>Front-End Consultant</span>
                            <span class="mt-4 d-block text-end">Wei-Kai Lin</span>
                        </a>
                    </li>
                    <li class="mb-8">
                        <a class="d-lg-flex justify-content-between" href="https://www.linkedin.com/in/techleon/" target="_blank">
                            <span>Database Developer</span>
                            <span class="mt-4 d-block text-end">Leon Wu</span>
                        </a>
                    </li>
                    <li class="mb-8">
                        <a class="d-lg-flex justify-content-between" href="https://www.linkedin.com/in/techleon/" target="_blank">
                            <span>Back-End Developer</span>
                            <span class="mt-4 d-block text-end">Leon Wu</span>
                        </a>
                    </li>
                    <li>
                        <a class="d-lg-flex justify-content-between" href="https://a8607125167.wixsite.com/mysite/about"  target="_blank">
                            <span>Illustrator</span>
                            <span class="mt-4 d-block text-end">Yi-Wen Fang</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Contact -->
            <div class="footer-text-box mb-48 mb-lg-0 me-lg-56">
                <a href="mailto:info@wavemocards.com">
                    <h3 class="mb-16 fs-5">聯絡我們</h3>
                    <span>info@wavemocards.com</span>
                </a>
            </div>
        </div>
    </div>
</footer>