<header class="header h-logined fixed-top">
    <div class="container py-16 d-flex justify-content-between align-items-center">
        <h1>
            <a href="home.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="回到首頁">浪潮情緒卡</a>
        </h1>
        <div class="d-lg-none position-relative">
            <button class="px-8 py-4 btn btn-main btn-hamburger border-0 rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse" style="position: absolute; right: 0; top: 40px;" id="collapseExample">
                <div class="p-0 card card-body rounded-2 border-2 border-main-tint01" style="width: 160px;">
                    <ul>
                        <li>
                            <a class="d-block px-16 py-12 link-gray-600 btn-hover-main-tint02 rounded-2" href="aboutEmotions.html">認識情緒</a>
                        </li>
                        <li>
                            <a class="d-block px-16 py-12 link-gray-600 btn-hover-main-tint02 rounded-2" href="findMyEmotions.html">找尋我的情緒</a>
                        </li>
                        <li>
                            <a class="d-block px-16 py-12 link-gray-600 btn-hover-main-tint02 rounded-2" href="myRecords.html">我的紀錄</a>
                        </li>
                        <li>
                            <a class="d-block px-16 py-12 link-gray-600 btn-hover-main-tint02 rounded-2" href="sharedByOthers.html">他人的分享</a>
                        </li>
                        <li>
                            <a class="d-block px-16 py-12 link-gray-600 btn-hover-main-tint02 rounded-2" href="account.html">我的帳戶</a>
                        </li>
                        <li>
                            <a class="d-block px-16 py-12 link-gray-600 btn-hover-main-tint02 rounded-2" href="#">登出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="d-none d-lg-flex justify-content-between align-items-center mb-0 ps-0">
            <li>
                <a href="aboutEmotions.html" class="px-4 py-8" data-bs-toggle="tooltip" data-bs-placement="bottom" title="認識情緒與情緒卡">認識情緒</a>
            </li>
            <li class="ms-16">
                <a href="findMyEmotions.html" class="px-4 py-8" data-bs-toggle="tooltip" data-bs-placement="bottom" title="選擇與紀錄我的情緒">找尋我的情緒</a>
            </li>
            <li class="ms-16">
                <a href="myRecords.html" class="px-4 py-8" data-bs-toggle="tooltip" data-bs-placement="bottom" title="觀看我的情緒紀錄與分析">我的紀錄</a>
            </li>
            <li class="ms-16">
                <a href="sharedByOthers.html" class="px-4 py-8" data-bs-toggle="tooltip" data-bs-placement="bottom" title="觀看他人分享的情緒紀錄">他人的分享</a>
            </li>
            <li class="ms-16">
                <a href="account.html" class="profile" data-bs-toggle="tooltip" data-bs-placement="bottom" title="管理我的帳戶">
                    <i class="bi bi-person-fill"></i>
                    <i class="bi bi-person-fill-gear"></i>
                </a>
            </li>
            <li class="ms-16">
                <a href="#" class="logout" data-bs-toggle="tooltip" data-bs-placement="bottom" title="登出">
                    <i class="bi bi-door-closed-fill"></i>
                    <i class="bi bi-door-open-fill"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
