// to load the variables file by self build 自建「變數」檔案
@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';

// to load all the scss files of bootstrap 載入所有bs5的scss
@import "../../node_modules/bootstrap";

@import "./helper/reset";
@import "./helper/base";

@import "./utils/font";
@import "./utils/position";

@import "./components/button";
@import "./components/guid";
@import "./components/titleBar";
@import "./components/cards";
@import "./components/emoTable";
@import "./components/form";
@import "./components/progressBar";
@import "./components/table";
@import "./components/boxes";

@import './layout/header.scss';
@import './layout/headerLoggedIn';
@import './layout/footer.scss';


@import './pages/index.scss';
@import './pages/login';
@import './pages/signup';
@import './pages/aboutEmotions';
