.class-card {
    width: 236px;
    height: 140px;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    p {
        width: 50%;
        padding: 0 8px;
        font-size: 28px;
        font-weight: bold;
    }
    .img-box {
        width: 50%;
        border-radius: 50%;
        overflow:hidden;
    }
    img {
        width: 100%;
        transform:scale(1,1);
        transition: all .25s ease-out;
    }
}

.class-card:hover {
    padding: 8px;
    p {
        width: 40%;
        font-size: 32px;
        padding: 0;
    }
    .img-box {
        width: 55%;
    }
    img {
        transform:scale(1.2,1.2);
    }
}

.class-card-happy {
    border: 0;
}
.class-card-happy:hover {
    border: 4px solid #EBD175;
}
.class-card-expectation:hover {
    border: 4px solid #EAB27E;
}
.class-card-relived:hover {
    border: 4px solid #B0CC8B;
}
.class-card-unstable:hover {
    border: 4px solid #D7B3B3;
}
.class-card-amazed:hover {
    border: 4px solid #969DD7;
}
.class-card-sadness:hover {
    border: 4px solid #A2C5D6;
}
.class-card-hate:hover {
    border: 4px solid #C1B1A4;
}
.class-card-anger:hover {
    border: 4px solid #D19292;
}
.class-card-others:hover {
    border: 4px solid #CBCBCB;
}


.c-modal-xl-card {
    max-width: 664px;
    .modal-content {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 16px;
    }
    .modal-body {
        padding: 40px 40px;
    }
    .text {
        width: 50%;
    }
    .img {
        width: 45%;
    }
    .title {
        padding-bottom: 4px;
        border-bottom: 2px solid $gray-700;
    }
    h2 {
        font-size: 40px;
        font-weight: bold;
        color: $gray-900;
    }
    a {
        font-size: 32px;
        color: $gray-600;
    }
    a:hover {
        color: $gray-900;
    }
    h3 {
        font-size: 24px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
}