label {
    color: $gray-700;
}
.must {
    color: $pink-tint01;
    font-size: 14px;
}

.emoForm {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding: 0 24px;
}
.appImg {
    display: block;
    position: relative;
    width: 172px;
    height: 172px;
    background-color: $gray-300;
    border-radius: 50%;
}
.btn-add {
    position: absolute;
    bottom: -9%;
    right: -4%;
    font-size: 48px;
    color: $gray-550;
}
.btn-add:hover {
    color: $pink;
}

// 情緒強度 表單
.box-strength {
    width: 35%;
}
.text-strength {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 2px solid $main-tint01;
    border-radius: 50%;
    background-color: $white;
    font-size: 24px;
    color: $main-tint01;
}
input[type="radio"]:checked+label{ 
    font-weight: bold; 
    color: $white;
    background-color: $main;
    border: 2px solid $main;
}