label {
    color: $gray-700;
}

.emoForm {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding: 0 24px;
}
.addImg {
    display: block;
    position: relative;
    width: 172px;
    height: 172px;
    background-color: $gray-300;
    border: 4px solid $gray-500;
    border-radius: 50%;

    img {
        object-fit: cover;
    }
}
.btn-add {
    position: absolute;
    bottom: -9%;
    right: -4%;
    font-size: 48px;
    color: $gray-550;
}
.btn-add::before {
    background-color: $white;
    border-radius: 50%;
}
.btn-add:hover {
    color: $pink;
}

// 情緒強度 表單
.box-strength {
    width: 35%;
}
.text-strength {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: 2px solid $main-tint01;
    border-radius: 50%;
    background-color: $white;
    font-size: 24px;
    color: $main-tint01;
}
input[type="radio"]:checked+label{ 
    font-weight: bold; 
    color: $white;
    background-color: $main;
    border: 2px solid $main;
}
// 情緒故事 是否/好不好 radio btn 的 label
.EmoStoryLabel {
    padding: 8px 24px;
    border: 2px solid $gray-500;
    border-radius: 50px;
    background-color: $white;
    color: $gray-500;
    font-weight: bold;
}

// 搜尋列
.input-date {
    width: 180px;
}
.search-bar {
    width: 480px;
    padding-left: 48px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2 6 rgba(0, 0, 0, .8);
    background: $white url('../images/Icon/Search.svg') no-repeat 16px 6px;
}
input[type=search]::placeholder {
    color: $main-tint01;
}