.signup {
    .clickMeToLogin {
        color: $main-tint01;
    }
    .clickMeToLogin::before, .clickMeToLogin::after {
        width: 28%;
        background-color: $main-tint02;
    }
    .clickMeToLogin:hover {
        color: $main;
    }
}