<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <title>浪潮情緒卡｜我的帳戶</title>
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- Bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <%- include('./layout/headerLoggedIn'); -%>

        <main>
            <div class="container py-16 mb-48 pt-72" id="top">
                <!-- title bar -->
                <div class="mb-36 pt-32 pb-8 d-flex justify-content-between align-items-end border-2 border-bottom border-main-tint02">
                    <h2 class="fs-3">我的帳戶</h2>
                    <form action="" method="">
                    <div class="nav-btn d-flex justify-content-end">
                        <button class="d-none ms-16 btn btn-outline-main c-btn" id="btnCancel" type="button">取消</button>
                        <button class="ms-16 btn btn-outline-main c-btn" id="btnModify" type="button">編輯</button>
                        <input type="submit" class="d-none ms-16 btn btn-outline-main c-btn" id="btnSave" value="儲存"></button>
                        <a class="ms-16 btn btn-main c-btn d-flex justify-content-center align-items-center" href="accountMyFriends.html">好友管理</a>
                    </div>
                </div>

                <!-- content -->
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center align-items-md-start">
                    <div class="box-account-img me-md-72">
                        <img class="mb-16" src="../assets/images/account_illu.svg" alt="account illustration">
                        <!-- 圖片引用來源 -->
                        <div class="mb-64">
                            <span class="text-gray-500 fs-11">
                                Illustration by <a class="link-gray-500" href="https://icons8.com/illustrations/author/iAdLsFJOKDrk" target="_blank">Tanya Krasutska</a> from <a class="link-gray-500" href="https://icons8.com/illustrations" target="_blank">Ouch!</a>
                            </span>
                        </div>
                    </div>
                    <div class="box-account-text">
                        <span class="mb-8 text-gray-700">Email</span>
                        <p class="ms-4 mb-24 fs-6 fw-bold">wavemo@gmail.com</p>
                        <span class="mb-8 text-gray-700">密碼</span>
                        <div class="d-flex justify-content-between">
                            <p class="ms-4 mb-24 fs-6 fw-bold">********</p>
                            <a class="link-pink-tint01" href="resetPsw.html">重設密碼</a>
                        </div>
                        <span class="mb-8 text-gray-700">帳號</span>
                        <p class="ms-4 mb-24 fs-6 fw-bold" id="accountName">wavemo</p>
                        <input type="text" class="d-none form-control w-100 mb-24 px-20 rounded-pill" id="formAccount" value="wavemo">
                        <div class="row">
                            <div class="col-6">
                                <span class="mb-8 text-gray-700">姓</span>
                                <p class="ms-4 mb-24 fs-6 fw-bold" id="lastName">陳</p>
                                <input type="text" class="d-none form-control w-100 mb-24 px-20 rounded-pill" id="formLastName" value="陳" required>
                            </div>
                            <div class="col-6">
                                <span class="mb-8 text-gray-700">名</span>
                                <p class="ms-4 mb-24 fs-6 fw-bold" id="firstName">浪潮</p>
                                <input type="text" class="d-none form-control w-100 mb-24 px-20 rounded-pill" id="formFirstName" value="浪潮" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="mb-8 text-gray-700">生日</span>
                                <p class="ms-4 mb-24 fs-6 fw-bold">2023 / 01 / 15</p>
                            </div>
                            <div class="col-6">
                                <span class="mb-8 text-gray-700">身份</span>
                                <p class="ms-4 mb-24 fs-6 fw-bold" id="title">學生</p>
                                <select class="d-none form-select px-20 rounded-pill" aria-label="Default select example" id="formTitle">
                                    <option value="學生">學生</option>
                                    <option value="教師">教師</option>
                                    <option value="教師">輔導教師</option>
                                    <option value="諮商師">諮商師</option>
                                    <option value="醫生">醫生</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </main>
        
        <%- include('./layout/floatButton') -%>
        
        <%- include('./layout/footer'); -%>

        <%- include('./layout/baseJs'); -%>
        <script>
            const btnModify = document.querySelector('#btnModify');
            const btnCancel = document.querySelector('#btnCancel');
            const btnSave = document.querySelector('#btnSave');
            const accountName = document.querySelector('#accountName');
            const lastName = document.querySelector('#lastName');
            const firstName = document.querySelector('#firstName');
            const title = document.querySelector('#title');
            const formAccount = document.querySelector('#formAccount');
            const formLastName = document.querySelector('#formLastName');
            const formFirstName = document.querySelector('#formFirstName');
            const formTitle = document.querySelector('#formTitle');

            btnModify.addEventListener("click", function(){
                btnModify.classList.add("d-none");
                btnCancel.classList.remove("d-none");
                btnSave.classList.remove("d-none");
                accountName.classList.add("d-none");
                lastName.classList.add("d-none");
                firstName.classList.add("d-none");
                title.classList.add("d-none");
                formAccount.classList.remove("d-none");
                formLastName.classList.remove("d-none");
                formFirstName.classList.remove("d-none");
                formTitle.classList.remove("d-none");
            })
        </script>
    </body>
</html>