<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <title>浪潮情緒卡｜探索情緒</title>
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- Bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div class="" id="top"></div>
        <%- include('./layout/headerLoggedInNoFixed'); -%>

        <main>
            <!-- Title -->
            <div class="sticky-top pb-4 bg-white">
                <div class="container pt-16">
                    <div class="mb-16 pb-8 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-md-none" style="font-size: 32px;">
                                <h2>探索情緒</h2>
                            </div>
                            <h2 class="d-none d-md-block fs-3">探索情緒｜情緒卡</h2>
                        </div>
                        <div class="nav-btn d-flex flex-column flex-md-row justify-content-end align-items-end align-items-md-center">
                            <div class="mb-12 mb-md-0 d-flex justify-content-end align-items-center">
                                <button type="button" class="btn-disable text-nowrap" id="btnExpand" disabled>展開</button>
                                <button type="button" class="ms-8 ms-md-12 btn btn-outline-main-tint01 c-btn c-btn-outline-main-tint01 fw-bold text-nowrap" id="btnFold">收合</button>
                                <button type="button" class="ms-8 ms-md-12 btn btn-outline-main-tint01 c-btn c-btn-outline-main-tint01 fw-bold text-nowrap" id="btnEmoTable">情緒表</button>
                            </div>
                            <a class="ms-24 px-16 btn btn-main c-btn btn-goToMyCards fs-7 d-flex justify-content-center align-items-center" style="width: 100%; @media(max-width:768){width: auto;}" href="myEmoCardsHolder.html">
                                <i class="bi bi-folder2"></i>
                                <i class="bi bi-folder2-open"></i>
                                <span class="ms-4">我的情緒卡夾</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-16">
                <!-- <button class="w-100 mb-32 py-8 btn btn-pink c-btn" id="btnSubmit" type="submit" data-bs-toggle="modal">註冊</button> -->
                <!-- 展開 -->
                <div id="expanded">
                    <!-- 快樂類 -->
                    <div class="mb-20 d-flex flex-nowrap">
                        <a class="emoCardsHead mt-20 link-gray-900 emoCardHeadHappy" href="findEmoHappy.html">
                            <span>快</span><span>樂</span>
                        </a>
                        <div class="d-flex overflow-auto pt-20" id="happyCards">
                            <div class="position-relative me-24">
                                <button type="button" class="position-absolute top-0 start-100 translate-middle rounded-circle border-0 btn-add-card-m" id="btnAdd"></button>
                                <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy01">
                                    <p>滿&nbsp;足</p>
                                    <div class="img-box">
                                        <img src="https://wavemocards.com/frontend/upload/01-happy/happy01-statisfy.svg" alt="滿足">
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal fade" id="modalResult" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-4">
                    <div class="modal-body d-flex flex-column align-items-center px-48 pt-24 pb-16">
                        <p id="modalResultTitle" class="mb-12 fs-3 fw-bold">成功</p>
                        <div class="d-flex flex-column">
                            <p id="modalResultErr" class="d-none mt-4 fs-7 text-gray-700">此卡片已被放入情緒卡夾，請選擇其他卡片。</p>
                            <p id="modalResultText1" class="mt-4 fs-7 text-gray-700">
                                若想繼續挑選情緒卡，請點擊「<span class="px-2 fw-bold">繼續挑選</span>」。
                            </p>
                            <p id="modalResultText2" class="mt-4 fs-7 text-gray-700">
                                若完成挑選卡片，請點擊「<span class="px-2 fw-bold">我的情緒卡夾</span>」進行下一個步驟。
                            </p>
                        </div>
                        <div style="width: 45%;">
                            <img class="w-100 pt-24 pb-2" src="../assets/images/addCardSuccess.svg" alt="img" id="modalResultImg">
                        </div>
                        <span class="text-gray-400 fs-11">Illustration by <a class="link-gray-400" href="https://blush.design/artists/RyUTVuP8G4QeAAEEQgug/pablo-stanley">Pablo Stanley</a> from <a class="link-gray-400" href="https://blush.design/">blush design</a></span>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" id="modalResultClose" class="me-16 btn btn-outline-main-tint01 c-btn c-btn-outline-main-tint01 px-24 py-8 fs-6" data-bs-dismiss="modal">繼續挑選</button>
                        <a href="myEmoCardsHolder.html" id="modalResultLink" class="btn btn-main c-btn px-24 py-8 link-white fs-6 rounded-pill">我的情緒卡夾</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-4">
                    <div class="modal-body d-flex flex-column align-items-center px-48 py-36">
                        <p id="resultTitle" class="fs-4 fw-bold">卡片成功加入情緒卡夾中</p>
                        <p id="resultErrMsg" class="d-none mt-12 fs-7 text-gray-700">此卡片已被放入情緒卡夾中，請選擇其他卡片。</p>
                        <p id="resultText" class="fs-7 fw-bold">若完成挑選卡片，請點擊「<span class="px-2 text-main fw-bold">我的情緒卡夾</span>」進行下一步驟。</p>
                        <div style="width: 45%; height: 45%;">
                            <img class="w-100" src="./upload/15.svg" alt="安心" id="resultImg">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" id="resultClose" class="btn btn-pink c-btn px-36 py-8 link-white fs-6 fw-bold" data-bs-dismiss="modal">繼續挑選情緒卡</button>
                        <a href="login.html" id="resultNext" class="btn btn-main px-16 py-8 link-white fs-6 fw-bold">前往「我的情緒卡夾」</a>
                    </div>
                </div>
            </div>
        </div> -->

        <%- include('./layout/floatButton') -%>

        <%- include('./layout/footer'); -%>

        <%- include('./layout/baseJs'); -%>
        <!-- <script src="../assets/js/pages/changStyleOfCards.js"></script> -->
        <script>
            // const btnAdd = document.querySelector('#btnAdd');
            // // result modal
            // const resultModal = document.querySelector('#resultModal');
            // const resultTitle = document.querySelector('#resultTitle');
            // const resultErrMsg = document.querySelector('#resultErrMsg');
            // const resultText = document.querySelector('#resultText');
            // const resultImg = document.querySelector('#resultImg');
            // btnAdd.addEventListener('click', function(){
            //     resultTitle.classList.add("text-main");
            //     btnAdd.setAttribute("data-bs-target", "#resultModal");
            //     // btnAdd.click(); // 設定該按鈕被點擊
            // })

            const btnAdd = document.querySelector('#btnAdd');
            const modalResult = document.querySelector('#modalResult');
            const modalResultTitle = document.querySelector('#modalResultTitle');
            const modalResultErr = document.querySelector('#modalResultErr');
            const modalResultText1 = document.querySelector('#modalResultText1');
            const modalResultText2 = document.querySelector('#modalResultText2');
            const modalResultLink = document.querySelector('#modalResultLink');
            const modalResultClose = document.querySelector('#modalResultClose');
            // 註冊內容驗證
            btnAdd.addEventListener('click', function(){
                let success = true;
                if(success==true){
                    modalResultTitle.classList.add("text-main");
                    btnAdd.setAttribute("data-bs-toggle", "modal");
                    btnAdd.setAttribute("data-bs-target", "#modalResult");
                    btnAdd.click(); // 設定該按鈕被點擊
                } else {
                    modalResultTitle.textContent = "已有此卡囉！";
                    modalResultTitle.classList.add("text-pink");
                    modalResultErr.classList.remove("d-none");
                    modalResultText2.classList.add("d-none");
                    modalResultImg.src="../assets/images/addCardFail.svg";
                    modalResultLink.classList.add("d-none");
                    modalResultClose.classList.remove("btn-outline-main-tint01", "c-btn-outline-main-tint01");
                    modalResultClose.classList.add("btn-outline-pink", "c-btn-outline-pink");
                    btnAdd.setAttribute("data-bs-toggle", "modal");
                    btnAdd.setAttribute("data-bs-target", "#modalResult");
                    btnAdd.click();
                }
            })

            let test = [{cards:[]}];
            let card = {name:"happy", ID:1};
            test[0].cards.push(card);
            console.log(test[0].cards.length);
        </script>
    </body>
</html>


