<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜討厭</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLogined'); -%>

    <div class="classifiedPage" style="min-height: 80vh;">
        <div class="container py-16">
            <div class="titleBar d-flex justify-content-between align-items-center">
                <h2>討厭</h2>
                <div class="nav-btn d-flex justify-content-end">
                    <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
                </div>
            </div>
            <div class="d-flex flex-wrap mb-72">
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate01">
                    <p>無&nbsp;聊</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate02">
                    <p>厭&nbsp;倦</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate03">
                    <p>自&nbsp;卑</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate04">
                    <p>討&nbsp;厭</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate05">
                    <p>嫉&nbsp;妒</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate06">
                    <p>厭&nbsp;惡</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate07">
                    <p>噁&nbsp;心</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
                <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate08">
                    <p>怨&nbsp;恨</p>
                    <div class="img-box">
                      <img src="../assets/images/hate/hate.svg" alt="hate">
                    </div>
                </button>
            </div>
        </div>
    </div>
    
    <%- include('./layout/modalEmoCards'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="text/javascript" src="../assets/js/mouseoverTitle.js"></script>
  </body>
</html>