<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜認識情緒｜快樂</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-112" id="top">
        <!-- 標題 -->
          <div class="mb-16 pb-8 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
            <h2 class="fs-3">快樂</h2>
          <div class="nav-btn d-flex justify-content-end">
              <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start mb-72" id="happyCards">
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>

    <!-- modalEmoCards -->
    <ul class="list">
      <li></li>
    </ul>

    <%- include('./layout/footer'); -%>
    
    <%- include('./layout/baseJs'); -%>
    <script>
      // let imgHappy01 = "https://wavemocards.com/frontend/upload/01-happy/happy01-statisfy.svg";
      // let imgHappy02 = "https://wavemocards.com/frontend/upload/01-happy/happy02-happy.svg";
      // let imgHappy03 = "https://wavemocards.com/frontend/upload/01-happy/happy03-happiness.svg";
      // let imgHappy04 = "https://wavemocards.com/frontend/upload/01-happy/happy04-proud.svg";
      // let imgHappy05 = "https://wavemocards.com/frontend/upload/01-happy/happy05-excited.svg";
      // let imgHappy06 = "https://wavemocards.com/frontend/upload/01-happy/happy06-cheerful.svg";
      // let imgHappy07 = "https://wavemocards.com/frontend/upload/01-happy/happy07-ecstasy.svg";

      const happyCards = document.querySelector('#happyCards');
      const listModal = document.querySelector('.list');

      axios.get("https://api.wavemocards.com/emotions?require=cards")
      .then(function(response){
        let aryData = Object.values(response.data); // 轉成「陣列」
        let aryIds = Object.keys(response.data); // 資料庫中的各卡片 id (0~64)

        for(let i=0; i<aryData.length; i++){
          aryData[i].id= aryIds[i];
        }

        initCards()
        function initCards() {
            let strCardsHappy = "";
            let emo;
            aryData.forEach(function(data, i){
              if(data.Category == "快樂"){
                  emo = "happy";
                  let contentCards = `
                  <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                  <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
                  <div class="img-box">
                      <img src="./upload/${data.id}.svg" alt="${data.Name}">
                  </div>
                  </button>`;
                  strCardsHappy+=contentCards;
              }
              happyCards.innerHTML = strCardsHappy;
            })
          }

        initModal();
        function initModal() {
          let strModal = "";
          let emo;
          aryData.forEach(function(data, i){
            aryIds.forEach(function(id, index){
              if(data.Category == "快樂") {
                emo = "happy";
              }
              
              let content = `
                <li>
                  <div class="modal fade px-40 px-md-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
                      <div class="modal-content bg-${emo}">
                        <div class="modal-body d-sm-flex justify-content-between align-items-center">
                          <div class="box-bigCard-text">
                            <div class="d-flex d-md-none w-100 justify-content-center">
                              <div class="d-sm-none box-bigCard-img mb-8">
                                <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
                              </div>
                            </div>
                            <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
                              <h2>${data.Name}</h2>
                              <!-- <a href="modifyEmoCard.html" role="button">
                                  <i class="bi bi-pencil-square"></i>
                              </a> -->
                            </div>
                            <div class="mb-16">
                              <h3 class="mb-4">意思：</h3>
                              <p>${data.Description}</p>
                            </div>
                            <div>
                              <h3 class="mb-4">例句：</h3>
                              <p>${data.Example}</p>
                            </div>
                          </div>
                          <div class="d-none d-sm-block box-bigCard-img">
                            <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>`;
              strModal+=content;
            })
          })
          listModal.innerHTML = strModal;
        }
      })
          // let aryData = Object.values(response.data);
          // initCards()
          // function initCards() {
          //   let strCards = "";
          //   let strModal = "";
          //   let emo;
          //   aryData.forEach(function(data, i){
          //     let imgSrc;
          //     if(data.Category == "快樂"){
          //       emo = "happy";
          //       if(data.Name == "滿足") {
          //         imgSrc = imgHappy01;
          //       } else if (data.Name == "快樂") {
          //         imgSrc = imgHappy02;
          //       } else if (data.Name == "幸福") {
          //         imgSrc = imgHappy03;
          //       } else if (data.Name == "自豪") {
          //         imgSrc = imgHappy04;
          //       } else if (data.Name == "興奮") {
          //         imgSrc = imgHappy05;
          //       } else if (data.Name == "痛快") {
          //         imgSrc = imgHappy06;
          //       } else if (data.Name == "狂喜") {
          //         imgSrc = imgHappy07;
          //       }
          //       let contentCards = `
          //         <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
          //           <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
          //           <div class="img-box">
          //             <img src="${imgSrc}}" alt="${data.Name}">
          //           </div>
          //         </button>`;
          //       let contentModals = `
          //       <li>
          //           <div class="modal fade px-40 px-md-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          //             <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
          //               <div class="modal-content bg-${emo}">
          //                 <div class="modal-body d-sm-flex justify-content-between align-items-center">
          //                   <div class="box-bigCard-text">
          //                     <div class="d-flex d-md-none w-100 justify-content-center">
          //                       <div class="d-sm-none box-bigCard-img mb-8">
          //                         <img class="w-100" src="${imgSrc}" alt="${data.Name}">
          //                       </div>
          //                     </div>
          //                     <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
          //                       <h2>${data.Name}</h2>
          //                       <!-- <a href="modifyEmoCard.html" role="button">
          //                           <i class="bi bi-pencil-square"></i>
          //                       </a> -->
          //                     </div>
          //                     <div class="mb-16">
          //                       <h3 class="mb-4">意思：</h3>
          //                       <p>${data.Description}</p>
          //                     </div>
          //                     <div>
          //                       <h3 class="mb-4">例句：</h3>
          //                       <p>${data.Example}</p>
          //                     </div>
          //                   </div>
          //                   <div class="d-none d-sm-block box-bigCard-img">
          //                     <img class="w-100" src="${imgSrc}" alt="${data.Name}">
          //                   </div>
          //                 </div>
          //               </div>
          //             </div>
          //           </div>
          //         </li>`;
          //       strCards+=contentCards;
          //       strModal+=contentModals;
          //     }
          //   })
          //   happyCards.innerHTML = strCards;
          //   listModal.innerHTML = strModal;
          // }
    </script>
  </body>
</html>