<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜其他</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-72" id="top">
        <div class="titleBar d-flex justify-content-between align-items-center">
          <h2>其他</h2>
          <div class="nav-btn d-flex justify-content-end">
              <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
          </div>
        </div>
        <div class="d-flex flex-wrap mb-72">
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others01">
            <p>釋&nbsp;懷</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others01-release.svg" alt="釋懷">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others02">
            <p>尷&nbsp;尬</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others02-awkward.svg" alt="尷尬">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others03">
            <p>羨&nbsp;慕</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others03-envy.svg" alt="羨慕">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others04">
            <p>愧&nbsp;疚</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others04-guilty.svg" alt="愧疚">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others05">
            <p>矛&nbsp;盾</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others05-conflict.svg" alt="矛盾">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others06">
            <p>後&nbsp;悔</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others06-regret.svg" alt="後悔">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others07">
            <p>委&nbsp;屈</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others07-injustice.svg" alt="委屈">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others08">
            <p>寂&nbsp;寞</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others08-loneliness.svg" alt="寂寞">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others09">
            <p>羞&nbsp;恥</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others09-shame.svg" alt="羞恥">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others10">
            <p>感&nbsp;動</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others10-touching.svg" alt="感動">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others11">
            <p>激&nbsp;動</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/09-others/others11-excited.svg" alt="激動">
            </div>
          </button>
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <%- include('./layout/modalEmoCards'); -%>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>