<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>浪潮情緒卡｜認識情緒｜情緒卡</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>
    <main>
      <div class="container py-16 pt-112" id="top">
        <!-- 標題 -->
        <div class="pb-8 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
          <h2 class="fs-3">認識情緒</h2>
          <div class="nav-btn d-flex justify-content-end">
            <a class="ms-24 btn btn-outline-main c-btn" href="aboutEmotions.html">關於情緒</a>
            <div class="ms-16 px-16 btn-disable">情緒卡</div>
          </div>
        </div>
        <div style="position: sticky; top:77px; z-index: 999; background-color: rgba(255, 255, 255, .75);">
          <div class="py-24 d-flex justify-content-end align-items-center">
            <button type="button" class="px-16 btn-disable text-nowrap" id="btnExpand" disabled>展開</button>
            <button type="button" class="ms-8 ms-md-12 btn btn-outline-main-tint01 c-btn c-btn-outline-main-tint01 fw-bold text-nowrap" id="btnFold">收合</button>
            <button type="button" class="ms-8 ms-md-12 btn btn-outline-main-tint01 c-btn c-btn-outline-main-tint01 fw-bold text-nowrap" id="btnEmoTable">情緒表</button>
          </div>
        </div>

        <!-- 導覽說明 -->
        <div class="accordion mb-48" id="accordionExample">
          <div class="accordion-item border-2 border-main-tint02 rounded-2 bg-white">
              <h2 class="accordion-header rounded-2" id="headingOne">
                  <button class="accordion-button px-16 py-12 bg-white link-main text-main fs-6 fw-bold rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="btnAccordion">
                  瀏覽情緒卡的方法
                  </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body fs-7">
                    <h3 class="mb-8 fw-bold text-gray-700">介面的種類</h3>
                    <ol class="ps-24 mb-24 text-gray-600" style="list-style-type: decimal">
                      <li class="mb-4">點擊右上方的「<span class="px-4 fw-bold text-main">收合</span>」或「<span class="px-4 fw-bold text-main">展開</span>」按鈕，可以轉換情緒卡的展示方式。</li>
                      <li class="mb-4">點擊右上方的「<span class="px-4 fw-bold text-main">情緒表</span>」，可以快速瀏覽所有情緒詞彙。</li>
                    </ol>
                    <h3 class="mb-8 fw-bold text-gray-700">各個介面的使用說明</h3>
                    <ol class="ps-24 mb-24 text-gray-700" style="list-style-type: decimal">
                      <li class="mb-4"><span class="fw-bold">展開</span>：
                        <p class=" text-gray-600">點擊單張「<span class="px-4">情緒卡</span>」，可以查看關於該情緒的詳細內容。</p>
                      </li>
                      <li class="mb-4"><span class="fw-bold">收合</span>：
                        <p class=" text-gray-600">共有 9 張分類卡，點擊單張「<span class="px-4">分類卡</span>」後，即可進入該分類的情緒卡頁面。</p>
                      </li>
                      <li class="mb-4"><span class="fw-bold">情緒表</span>：
                        <p class=" text-gray-600">點擊單一「<span class="px-4">情緒詞彙</span>」，可以查看關於該情緒的詳細內容。</p>
                      </li>
                    </ol>
                    <p class="text-gray-600 fs-8">💬 透過點擊 標題「瀏覽情緒卡的方法」的區塊，可將此說明收合。</p>
                  </div>
              </div>
          </div>
        </div>
  
        <!-- 情緒卡 -->
        <!-- <div id="emoCardsTitle" style="height: 88px;"></div>
        <div class="mb-16 pb-8 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
          <h2 class="fs-3">情緒卡</h2>
          <div class="nav-btn d-flex justify-content-end">
            <div class="btn-disable">收合</div>
            <a class="ms-16 btn btn-outline-main c-btn" href="emoCardsClassifiedExpand.html">展開</a>
          </div>
        </div> -->

        <!-- 展開 -->
        <div id="expanded">
          <!-- 快樂類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadHappy" href="emoCardsHappy.html">
                <span>快</span><span>樂</span>
            </a>
            <div class="d-flex overflow-auto" id="happyCards"></div>
          </div>
          <!-- 期待類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadExpectation" href="emoCardsExpectation.html">
                <span>期</span><span>待</span>
            </a>
            <div class="d-flex overflow-auto" id="expectationCards"></div>
          </div>
          <!-- 安心類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadRelived" href="emoCardsRelived.html">
                <span>安</span><span>心</span>
            </a>
            <div class="d-flex overflow-auto" id="relivedCards"></div>
          </div>
          <!-- 不安類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadUnstable" href="emoCardsUnstable.html">
                <span>不</span><span>安</span>
            </a>
            <div class="d-flex overflow-auto" id="unstableCards"></div>
          </div>
          <!-- 驚訝類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadAmazed" href="emoCardsAmazed.html">
                <span>驚</span><span>訝</span>
            </a>
            <div class="d-flex overflow-auto" id="amazedCards"></div>
          </div>
          <!-- 低落類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadSadness" href="emoCardsSadness.html">
                <span>低</span><span>落</span>
            </a>
            <div class="d-flex overflow-auto" id="sadnessCards"></div>
          </div>
          <!-- 討厭類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadHate" href="emoCardsHate.html">
                <span>討</span><span>厭</span>
            </a>
            <div class="d-flex overflow-auto" id="hateCards"></div>
          </div>
          <!-- 生氣類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadAnger" href="emoCardsAnger.html">
                <span>生</span><span>氣</span>
            </a>
            <div class="d-flex overflow-auto" id="angerCards"></div>
          </div>
          <!-- 其他類 -->
          <div class="mb-24 d-flex flex-nowrap">
            <a class="emoCardsHead me-12 link-gray-900 emoCardHeadOthers" href="emoCardsOthers.html">
                <span>其</span><span>他</span>
            </a>
            <div class="d-flex overflow-auto" id="othersCards"></div>
          </div>
        </div>
        
        <!-- 卡片分類 -->
        <div class="d-none mt-24 mb-72" id="folded">
          <ul  class="mb-36 text-gray-550 fs-7">
            <li class="text-gray-550 fs-7">
                🔍 以下共有 9 張分類卡，點擊分類卡後，即可進入該分類的情緒卡頁。
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <a class="class-card me-32 mb-24 bg-happy link-gray-900 class-card-happy" href="emoCardsHappy.html">
              <p>快&nbsp;樂</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/01-happy/happy02-happy.svg" alt="快樂">
              </div>
            </a>
            <a class="class-card me-32 mb-24 bg-expectation link-gray-900 class-card-expectation" href="emoCardsExpectation.html">
              <p>期&nbsp;待</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/02-expectation/expaction01-expect.svg" alt="期待">
              </div>
            </a>
            <a class="class-card me-32 mb-24 bg-relived link-gray-900 class-card-relived" href="emoCardsRelived.html">
              <p>安&nbsp;心</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/03-relived/relived04-relieved.svg" alt="安心">
              </div>
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <a class="class-card me-32 mb-24 bg-unstable link-gray-900 class-card-unstable" href="emoCardsUnstable.html">
              <p>不&nbsp;安</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable04-anxious.svg" alt="不安">
              </div>
            </a>
            <a class="class-card me-32 mb-24 bg-amazed link-gray-900 class-card-amazed" href="emoCardsAmazed.html">
              <p>驚&nbsp;訝</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/05-amazed/amazed02-astonishment.svg" alt="驚訝">
              </div>
            </a>
            <a class="class-card me-32 mb-24 bg-sadness link-gray-900 class-card-sadness" href="emoCardsSadness.html">
              <p>低&nbsp;落</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness05-frustrated.svg" alt="低落">
              </div>
            </a>
          </div>
          <div class="d-flex justify-content-center">
            <a class="class-card me-32 mb-24 bg-hate link-gray-900 class-card-hate" href="emoCardsHate.html">
              <p>討&nbsp;厭</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/07-hate/hate03-inferiority.svg" alt="討厭">
              </div>
            </a>
            <a class="class-card me-32 mb-24 bg-anger link-gray-900 class-card-anger" href="emoCardsAnger.html">
              <p>生&nbsp;氣</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/08-anger/anger02-irritated.svg" alt="生氣">
              </div>
            </a>
            <a class="class-card me-32 mb-24 bg-others link-gray-900 class-card-others" href="emoCardsOthers.html">
              <p>其&nbsp;他</p>
              <div class="img-box">
                <img src="https://wavemocards.com/frontend/upload/09-others/others01-release.svg" alt="其他">
              </div>
            </a>
          </div>
        </div>
  
        <!-- 情緒表 -->
        <!-- <div id="emoTableTitle" style="height: 88px;"></div>
        <div class="mb-16 pb-8 border-2 border-bottom border-main-tint02">
          <h2 class="fs-3">情緒表</h2>
        </div> -->
        <div class="d-none mt-24 mb-72" id="emoTable">
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsHappy.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-happy  fw-bold d-flex justify-content-center align-items-center text-md-nowrap">快樂</a>
            <div class="d-flex overflow-auto" id="buttonsHappy"></div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsExpectation.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-expectation fw-bold d-flex justify-content-center align-items-center text-md-nowrap">期待</a>
            <div class="d-flex overflow-auto" id="buttonsExpectation">
            </div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsRelived.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-relived fw-bold d-flex justify-content-center align-items-center text-md-nowrap">安心</a>
            <div class="d-flex overflow-auto" id="buttonsRelived">
            </div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsUnstable.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-unstable fw-bold d-flex justify-content-center align-items-center text-md-nowrap">不安</a>
            <div class="d-flex overflow-auto" id="buttonsUnstable">
            </div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsAmazed.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-amazed fw-bold d-flex justify-content-center align-items-center text-md-nowrap">驚訝</a>
            <div class="d-flex overflow-auto" id="buttonsAmazed">
            </div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsSadness.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-sadness fw-bold d-flex justify-content-center align-items-center text-md-nowrap">低落</a>
            <div class="d-flex overflow-auto" id="buttonsSadness">
            </div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsHate.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-hate fw-bold d-flex justify-content-center align-items-center text-md-nowrap">討厭</a>
            <div class="d-flex overflow-auto" id="buttonsHate">
            </div>
          </div>
          
          <div class="mb-16 d-flex flex-nowrap">
            <a href="emoCardsAnger.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-anger fw-bold d-flex justify-content-center align-items-center text-md-nowrap">生氣</a>
            <div class="d-flex overflow-auto" id="buttonsAnger">
            </div>
          </div>
          
          <div class="mb-72 d-flex flex-nowrap">
            <a href="emoCardsOthers.html" class="emoTableHead me-12 px-4 py-4 btn btn-emoTable btn-others fw-bold d-flex justify-content-center align-items-center text-md-nowrap">其他</a>
            <div class="d-flex overflow-auto" id="buttonsOthers">
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>

    <!-- modalEmoCards -->
    <ul class="listModal">
      <li></li>
    </ul>
    
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
    <script src="../assets/js/pages/changStyleOfCards.js"></script>
    <script>
      //  手風琴開合紀錄 關於情緒頁面用
      const collapseOne = document.querySelector('#collapseOne');
      let recAccordionOpen = localStorage.getItem("accordionOpen");
      if(recAccordionOpen=="false"){
        collapseOne.classList.remove('show');
      } else {
        collapseOne.classList.add('show');
      }
      const btnAccordion = document.querySelector('#btnAccordion');
      let numAccordionClicked = 0;
      btnAccordion.addEventListener("click",function(){
        if(recAccordionOpen=="false"){
          numAccordionClicked++;
        }
        numAccordionClicked++;
        if(numAccordionClicked%2!=0){
          let accordionOpen = false;
          localStorage.setItem("accordionOpen", accordionOpen);
        } else {
          let accordionOpen = true;
          localStorage.setItem("accordionOpen", accordionOpen);
        }
      })

      // 情緒表
      const buttonsHappy = document.querySelector('#buttonsHappy');
      const buttonsExpectation = document.querySelector('#buttonsExpectation');
      const buttonsRelived = document.querySelector('#buttonsRelived');
      const buttonsUnstable = document.querySelector('#buttonsUnstable');
      const buttonsAmazed = document.querySelector('#buttonsAmazed');
      const buttonsSadness = document.querySelector('#buttonsSadness');
      const buttonsHate = document.querySelector('#buttonsHate');
      const buttonsAnger = document.querySelector('#buttonsAnger');
      const buttonsOthers = document.querySelector('#buttonsOthers');
      // cards
      const happyCards = document.querySelector('#happyCards');
      const expectationCards = document.querySelector('#expectationCards');
      const relivedCards = document.querySelector('#relivedCards');
      const unstableCards = document.querySelector('#unstableCards');
      const amazedCards = document.querySelector('#amazedCards');
      const sadnessCards = document.querySelector('#sadnessCards');
      const hateCards = document.querySelector('#hateCards');
      const angerCards = document.querySelector('#angerCards');
      const othersCards = document.querySelector('#othersCards');
      // Big Cards
      const listModal = document.querySelector('.listModal');

      axios.get("https://api.wavemocards.com/emoinfo/cards/")
      .then(function(response){
        let aryData = Object.values(response.data); // 轉成「陣列」
        let strCardsHappy = "";
        let strCardsExpectation = "";
        let strCardsRelived = "";
        let strCardsUnstable = "";
        let strCardsAmazed = "";
        let strCardsSadness = "";
        let strCardsHate = "";
        let strCardsAnger = "";
        let strCardsOthers = "";
        let strTableHappy = "";
        let strTableExpectation = "";
        let strTableRelived = "";
        let strTableUnstable = "";
        let strTableAmazed = "";
        let strTableSadness = "";
        let strTableHate = "";
        let strTableAnger = "";
        let strTableOthers = "";
        let strModal = "";
        let emo;

        // 展開卡 & 大卡
        initCards()
        function initCards() {
            let strCardsHappy = "";
            let strCardsExpectation = "";
            let strCardsRelived = "";
            let strCardsUnstable = "";
            let strCardsAmazed = "";
            let strCardsSadness = "";
            let strCardsHate = "";
            let strCardsAnger = "";
            let strCardsOthers = "";
            let strTableHappy = "";
            let strTableExpectation = "";
            let strTableRelived = "";
            let strTableUnstable = "";
            let strTableAmazed = "";
            let strTableSadness = "";
            let strTableHate = "";
            let strTableAnger = "";
            let strTableOthers = "";
            let strModal = "";
            let emo;
            aryData.forEach(function(data, i){
                let dataName = data.name;
                let dataId = data.ID;
                let dataDescription = data.description;
                let dataExample = data.example;
                if(data.category == "快樂"){
                    emo = "happy";
                    let contentCards = `
                    <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                      <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                      <div class="img-box">
                          <img src="./upload/${dataId}.svg" alt="${dataName}">
                      </div>
                    </button>`;
                    strCardsHappy+=contentCards;

                    let contentEmoTable = `
                      <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableHappy+=contentEmoTable;
                } 
                else if(data.category == "期待"){
                    emo = "expectation";
                    if(dataName.length>2){
                        let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                        strCardsExpectation+=contentCards;
                    } else {
                        let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                        strCardsExpectation+=contentCards;
                      }
                      let contentEmoTable = `
                      <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                      strTableExpectation+=contentEmoTable;
                } else if(data.category == "安心"){
                    emo = "relived";
                    let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                    strCardsRelived+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableRelived+=contentEmoTable;

                } else if(data.category == "不安"){
                    emo = "unstable";
                    let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                    strCardsUnstable+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableUnstable+=contentEmoTable;

                } else if(data.category == "驚訝"){
                    emo = "amazed";
                    let contentCards = `
                    <div class="position-relative me-28">
                        <button type="button" class="position-absolute top-0 start-100 translate-middle rounded-circle border-0 btn-add-card-m" id="btnAdd"><div class="d-none">${dataId}</div></button>
                        <button type="button" class="class-card mb-12 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                            <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                            <div class="img-box">
                                <img src="./upload/${dataId}.svg" alt="${dataName}">
                            </div>
                        </button>
                    </div>`;
                    strCardsAmazed+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableAmazed+=contentEmoTable;

                } else if(data.category == "低落"){
                    emo = "sadness";
                    let contentCards = `
                    <div class="position-relative me-28">
                        <button type="button" class="position-absolute top-0 start-100 translate-middle rounded-circle border-0 btn-add-card-m" id="btnAdd"><div class="d-none">${dataId}</div></button>
                        <button type="button" class="class-card mb-12 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                            <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                            <div class="img-box">
                                <img src="./upload/${dataId}.svg" alt="${dataName}">
                            </div>
                        </button>
                    </div>`;
                    strCardsSadness+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableSadness+=contentEmoTable;

                } else if(data.category == "討厭"){
                    emo = "hate";
                    let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                    strCardsHate+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableHate+=contentEmoTable;

                } else if(data.category == "生氣"){
                    emo = "anger";
                    let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                    strCardsAnger+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableAnger+=contentEmoTable;

                } else if(data.category == "其他"){
                    emo = "others";
                    let contentCards = `
                        <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                          <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                          <div class="img-box">
                              <img src="./upload/${dataId}.svg" alt="${dataName}">
                          </div>
                        </button>`;
                    strCardsOthers+=contentCards;

                    let contentEmoTable = `
                        <button type="button" class="me-12 btn btn-emoTable btn-${emo} opacity-${emo} text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${dataName}</button>`;
                    strTableOthers+=contentEmoTable;
                }

                let contentModel = `
                    <li>
                        <div class="modal fade px-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
                                <div class="modal-content bg-${emo} my-36">
                                    <div class="modal-body d-sm-flex justify-content-between align-items-center position-relative">
                                        <div class="box-bigCard-text">
                                            <div class="d-flex d-md-none w-100 justify-content-center">
                                                <div class="d-sm-none box-bigCard-img mb-8">
                                                    <img class="w-100" src="./upload/${dataId}.svg" alt="${dataName}">
                                                </div>
                                            </div>
                                            <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
                                                <h2>${dataName}</h2>
                                            </div>
                                            <div class="mb-16">
                                                <h3 class="mb-4">意思：</h3>
                                                <p>${dataDescription}</p>
                                            </div>
                                            <div>
                                                <h3 class="mb-4">例句：</h3>
                                                <p>${dataExample}</p>
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block box-bigCard-img">
                                            <img class="w-100" src="./upload/${dataId}.svg" alt="${dataName}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>`;
                strModal+=contentModel;
            })
            happyCards.innerHTML = strCardsHappy;
            expectationCards.innerHTML = strCardsExpectation;
            relivedCards.innerHTML = strCardsRelived;
            unstableCards.innerHTML = strCardsUnstable;
            amazedCards.innerHTML = strCardsAmazed;
            sadnessCards.innerHTML = strCardsSadness;
            hateCards.innerHTML = strCardsHate;
            angerCards.innerHTML = strCardsAnger;
            othersCards.innerHTML = strCardsOthers;
            buttonsHappy.innerHTML = strTableHappy;
            buttonsExpectation.innerHTML = strTableExpectation;
            buttonsRelived.innerHTML = strTableRelived;
            buttonsUnstable.innerHTML = strTableUnstable;
            buttonsAmazed.innerHTML = strTableAmazed;
            buttonsSadness.innerHTML = strTableSadness;
            buttonsHate.innerHTML = strTableHate;
            buttonsAnger.innerHTML = strTableAnger;
            buttonsOthers.innerHTML = strTableOthers;
            listModal.innerHTML = strModal;
        }

        // 展開卡
        // initCards()
        // function initCards() {
        //     let strCardsHappy = "";
        //     let strCardsExpectation = "";
        //     let strCardsRelived = "";
        //     let strCardsUnstable = "";
        //     let strCardsAmazed = "";
        //     let strCardsSadness = "";
        //     let strCardsHate = "";
        //     let strCardsAnger = "";
        //     let strCardsOthers = "";
        //     let strModal = "";
        //     let emo;
        //     aryData.forEach(function(data, i){
        //       if(data.Category == "快樂"){
        //           emo = "happy";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //           <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //           <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //           </div>
        //           </button>`;
        //           strCardsHappy+=contentCards;
        //       } 
        //       else if(data.Category == "期待"){
        //           emo = "expectation";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //           <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //           <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //           </div>
        //           </button>`;
        //           strCardsExpectation+=contentCards;
        //       } else if(data.Category == "安心"){
        //           emo = "relived";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //               <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //               <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //               </div>
        //           </button>`;
        //           strCardsRelived+=contentCards;
        //       } else if(data.Category == "不安"){
        //           emo = "unstable";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //               <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //               <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //               </div>
        //           </button>`;
        //           strCardsUnstable+=contentCards;
        //       } else if(data.Category == "驚訝"){
        //           emo = "amazed";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //               <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //               <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //               </div>
        //           </button>`;
        //           strCardsAmazed+=contentCards;
        //       } else if(data.Category == "低落"){
        //           emo = "sadness";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //               <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //               <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //               </div>
        //           </button>`;
        //           strCardsSadness+=contentCards;
        //       } else if(data.Category == "討厭"){
        //           emo = "hate";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //               <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //               <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //               </div>
        //           </button>`;
        //           strCardsHate+=contentCards;
        //       } else if(data.Category == "生氣"){
        //           emo = "anger";
        //           let contentCards = `
        //           <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //               <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //               <div class="img-box">
        //               <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //               </div>
        //           </button>`;
        //           strCardsAnger+=contentCards;
        //       } else if(data.Category == "其他"){
        //         emo = "others";
        //         let contentCards = `
        //         <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
        //             <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
        //             <div class="img-box">
        //             <img src="./upload/${data.id}.svg" alt="${data.Name}">
        //             </div>
        //         </button>`;
        //         strCardsOthers+=contentCards;
        //       }
        //     })
        //     happyCards.innerHTML = strCardsHappy;
        //     expectationCards.innerHTML = strCardsExpectation;
        //     relivedCards.innerHTML = strCardsRelived;
        //     unstableCards.innerHTML = strCardsUnstable;
        //     amazedCards.innerHTML = strCardsAmazed;
        //     sadnessCards.innerHTML = strCardsSadness;
        //     hateCards.innerHTML = strCardsHate;
        //     angerCards.innerHTML = strCardsAnger;
        //     othersCards.innerHTML = strCardsOthers;
        // }

        // 情緒表 各個情緒的按鈕
        // initEmlTable();
        // function initEmlTable() {
        //   let strHappy = "";
        //   let strExpectation = "";
        //   let strRelived = "";
        //   let strUnstable = "";
        //   let strAmazed = "";
        //   let strSadness = "";
        //   let strHate = "";
        //   let strAnger = "";
        //   let strOthers = "";
        //   aryData.forEach(function(data, i) {
        //     let category = aryData[i].Category;
        //     let emoName = aryData[i].Name;
        //     if (category == "快樂") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strHappy+=content;
        //     } else if (category == "期待") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-expectation opacity-expectation text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strExpectation+=content;
        //     } else if (category == "安心") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strRelived+=content;
        //     } else if (category == "不安") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strUnstable+=content;
        //     } else if (category == "驚訝") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-amazed opacity-amazed text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strAmazed+=content;
        //     } else if (category == "低落") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strSadness+=content;
        //     } else if (category == "討厭") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strHate+=content;
        //     } else if (category == "生氣") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-anger opacity-anger text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strAnger+=content;
        //     } else if (category == "其他") {
        //       let content = `<button type="button" class="me-8 btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#emo${i}">${emoName}</button>`;
        //       strOthers+=content;
        //     }
        //     buttonsHappy.innerHTML = strHappy;
        //     buttonsExpectation.innerHTML = strExpectation;
        //     buttonsRelived.innerHTML = strRelived;
        //     buttonsUnstable.innerHTML = strUnstable;
        //     buttonsAmazed.innerHTML = strAmazed;
        //     buttonsSadness.innerHTML = strSadness;
        //     buttonsHate.innerHTML = strHate;
        //     buttonsAnger.innerHTML = strAnger;
        //     buttonsOthers.innerHTML = strOthers;
        //   })
        // }

        // 大情緒卡 Modal
        // initModal();
        // function initModal() {
        //   let strModal = "";
        //   let emo;
        //   aryData.forEach(function(data, i){
        //     if(data.Category == "快樂") {
        //       emo = "happy";
        //     } else if (data.Category == "期待") {
        //       emo = "expectation";
        //     } else if (data.Category == "安心") {
        //       emo = "relived";
        //     } else if (data.Category == "不安") {
        //       emo = "unstable";
        //     } else if (data.Category == "驚訝") {
        //       emo = "amazed";
        //     } else if (data.Category == "低落") {
        //       emo = "sadness";
        //     } else if (data.Category == "討厭") {
        //       emo = "hate";
        //     } else if (data.Category == "生氣") {
        //       emo = "anger";
        //     } else if (data.Category == "其他") {
        //       emo = "others";
        //     }
            
        //     let content = `
        //       <li>
        //         <div class="modal fade px-40 px-md-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        //           <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
        //             <div class="modal-content bg-${emo}">
        //               <div class="modal-body d-sm-flex justify-content-between align-items-center">
        //                 <div class="box-bigCard-text">
        //                   <div class="d-flex d-md-none w-100 justify-content-center">
        //                     <div class="d-sm-none box-bigCard-img mb-8">
        //                       <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
        //                     </div>
        //                   </div>
        //                   <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
        //                     <h2>${data.Name}</h2>
        //                     <!-- <a href="modifyEmoCard.html" role="button">
        //                         <i class="bi bi-pencil-square"></i>
        //                     </a> -->
        //                   </div>
        //                   <div class="mb-16">
        //                     <h3 class="mb-4">意思：</h3>
        //                     <p>${data.Description}</p>
        //                   </div>
        //                   <div>
        //                     <h3 class="mb-4">例句：</h3>
        //                     <p>${data.Example}</p>
        //                   </div>
        //                 </div>
        //                 <div class="d-none d-sm-block box-bigCard-img">
        //                   <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
        //                 </div>
        //               </div>
        //             </div>
        //           </div>
        //         </div>
        //       </li>`;
        //     strModal+=content;
        //   })
        //   listModal.innerHTML = strModal;
        // }
      
      })
    </script>
  </body>
</html>