<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>浪潮情緒卡｜認識情緒｜討厭</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-112" id="top">
        <!-- 標題 -->
          <div class="mb-16 pb-8 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
            <h2 class="fs-3">討厭</h2>
          <div class="nav-btn d-flex justify-content-end">
              <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start mt-48 mb-72" id="hateCards">
          <!-- <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate01">
            <p>無&nbsp;聊</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate01-boring.svg" alt="無聊">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate02">
            <p>厭&nbsp;倦</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate02-weariness.svg" alt="厭倦">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate03">
            <p>自&nbsp;卑</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate03-inferiority.svg" alt="自卑">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate04">
            <p>討&nbsp;厭</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate04-hate.svg" alt="討厭">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate05">
            <p>嫉&nbsp;妒</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate05-jealousy.svg" alt="嫉妒">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate06">
            <p>厭&nbsp;惡</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate06-disgust.svg" alt="厭惡">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate07">
            <p>噁&nbsp;心</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate07-nausea.svg" alt="噁心">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate08">
            <p>怨&nbsp;恨</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate08-resentment.svg" alt="怨恨">
            </div>
          </button> -->
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <!-- modalEmoCards -->
    <ul class="list">
      <li></li>
    </ul>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
    <script>
      const cards = document.querySelector('#hateCards');
      const listModal = document.querySelector('.list');

      axios.get("https://api.wavemocards.com/emoinfo/cards/")
      .then(function(response){
        let aryData = Object.values(response.data); // 轉成「陣列」

        initCards();
        function initCards() {
          let strCards = "";
          let strModal = "";
          let emo;
          aryData.forEach(function(data, i){
              let dataName = data.name;
              let dataId = data.ID;
              let dataDescription = data.description;
              let dataExample = data.example;
              if(data.category == "討厭"){
                  emo = "hate";
                  let contentCards = `
                    <button type="button" class="class-card me-24 mb-24 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                      <p>${dataName[0]}&nbsp;${dataName[1]}</p>
                      <div class="img-box">
                          <img src="./upload/${dataId}.svg" alt="${dataName}">
                      </div>
                    </button>`;
                  strCards+=contentCards;

                  let contentModal = `
                  <li>
                        <div class="modal fade px-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
                                <div class="modal-content bg-${emo} my-36">
                                    <div class="modal-body d-sm-flex justify-content-between align-items-center position-relative">
                                        <div class="box-bigCard-text">
                                            <div class="d-flex d-md-none w-100 justify-content-center">
                                                <div class="d-sm-none box-bigCard-img mb-8">
                                                    <img class="w-100" src="./upload/${dataId}.svg" alt="${dataName}">
                                                </div>
                                            </div>
                                            <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
                                                <h2>${dataName}</h2>
                                            </div>
                                            <div class="mb-16">
                                                <h3 class="mb-4">意思：</h3>
                                                <p>${dataDescription}</p>
                                            </div>
                                            <div>
                                                <h3 class="mb-4">例句：</h3>
                                                <p>${dataExample}</p>
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block box-bigCard-img">
                                            <img class="w-100" src="./upload/${dataId}.svg" alt="${dataName}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>`;
                  strModal+=contentModal;
                  cards.innerHTML = strCards;
                  listModal.innerHTML = strModal;
              }
          })
        }
      })
    </script>
  </body>
</html>