<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜討厭</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-72" id="top">
        <div class="titleBar d-flex justify-content-between align-items-center">
          <h2>討厭</h2>
          <div class="nav-btn d-flex justify-content-end">
              <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
          </div>
        </div>
        <div class="d-flex flex-wrap mb-72">
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate01">
            <p>無&nbsp;聊</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate01-boring.svg" alt="無聊">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate02">
            <p>厭&nbsp;倦</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate02-weariness.svg" alt="厭倦">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate03">
            <p>自&nbsp;卑</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate03-inferiority.svg" alt="自卑">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate04">
            <p>討&nbsp;厭</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate04-hate.svg" alt="討厭">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate05">
            <p>嫉&nbsp;妒</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate05-jealousy.svg" alt="嫉妒">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate06">
            <p>厭&nbsp;惡</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate06-disgust.svg" alt="厭惡">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate07">
            <p>噁&nbsp;心</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate07-nausea.svg" alt="噁心">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate08">
            <p>怨&nbsp;恨</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/07-hate/hate08-resentment.svg" alt="怨恨">
            </div>
          </button>
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <%- include('./layout/modalEmoCards'); -%>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>