<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜放鬆</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-72" id="top">
        <div class="titleBar d-flex justify-content-between align-items-center">
          <h2>放鬆</h2>
          <div class="nav-btn d-flex justify-content-end">
              <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
          </div>
        </div>
        <div class="d-flex flex-wrap mb-72">
          <button type="button" class="class-card me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived01">
            <p>舒&nbsp;服</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/03-relived/relived01-comfortable.svg" alt="舒服">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived02">
            <p>放&nbsp;鬆</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/03-relived/relived02-relax.svg" alt="放鬆">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived03">
            <p>平&nbsp;靜</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/03-relived/relived03-calm.svg" alt="平靜">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived04">
            <p>安&nbsp;心</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/03-relived/relived04-relieved.svg" alt="安心">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived05">
            <p>自&nbsp;在</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/03-relived/relived05-ease.svg" alt="自在">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived06">
            <p>信&nbsp;任</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/03-relived/relived06-trust.svg" alt="信任">
            </div>
          </button>
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <%- include('./layout/modalEmoCards'); -%>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>