<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>浪潮情緒卡｜認識情緒｜低落</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-112" id="top">
        <!-- 標題 -->
          <div class="mb-16 pb-8 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
            <h2 class="fs-3">低落</h2>
          <div class="nav-btn d-flex justify-content-end">
              <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">返回</a>
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start mb-72" id="sadnessCards">
          <!-- <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness01">
            <p>無&nbsp;奈</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness01-helpless.svg" alt="無奈">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness02">
            <p>挫&nbsp;折</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness02-setback.svg" alt="挫折">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness03">
            <p>失&nbsp;望</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness03-disappointed.svg" alt="失望">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness04">
            <p>無&nbsp;力</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness04-powerless.svg" alt="無力">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness05">
            <p>沮&nbsp;喪</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness05-frustrated.svg" alt="沮喪">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness06">
            <p>難&nbsp;過</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness06-sad.svg" alt="難過">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness07">
            <p>無&nbsp;助</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness07-powerless.svg" alt="無助">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness08">
            <p>悲&nbsp;傷</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness08-sorrow.svg" alt="悲傷">
            </div>
        </button>
        <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness09">
            <p>心&nbsp;痛</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness09-heartache.svg" alt="心痛">
            </div>
        </button>
          <button type="button" class="class-card me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness10">
            <p>憂&nbsp;鬱</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness10-depressed.svg" alt="憂鬱">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness11">
            <p>崩&nbsp;潰</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness11-collapse.svg" alt="崩潰">
            </div>
          </button>
          <button type="button" class="class-card me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness12">
            <p>絕&nbsp;望</p>
            <div class="img-box">
              <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness12-despair.svg" alt="絕望">
            </div>
          </button> -->
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <!-- modalEmoCards -->
    <ul class="list">
      <li></li>
    </ul>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
    <script>
      // let imgSadness01 = "https://wavemocards.com/frontend/upload/06-sadness/sadness01-helpless.svg";
      // let imgSadness02 = "https://wavemocards.com/frontend/upload/06-sadness/sadness02-setback.svg";
      // let imgSadness03 = "https://wavemocards.com/frontend/upload/06-sadness/sadness03-disappointed.svg";
      // let imgSadness04 = "https://wavemocards.com/frontend/upload/06-sadness/sadness04-powerless.svg";
      // let imgSadness05 = "https://wavemocards.com/frontend/upload/06-sadness/sadness05-frustrated.svg";
      // let imgSadness06 = "https://wavemocards.com/frontend/upload/06-sadness/sadness06-sad.svg";
      // let imgSadness07 = "https://wavemocards.com/frontend/upload/06-sadness/sadness07-powerless.svg";
      // let imgSadness08 = "https://wavemocards.com/frontend/upload/06-sadness/sadness08-sorrow.svg";
      // let imgSadness09 = "https://wavemocards.com/frontend/upload/06-sadness/sadness09-heartache.svg";
      // let imgSadness10 = "https://wavemocards.com/frontend/upload/06-sadness/sadness10-depressed.svg";
      // let imgSadness11 = "https://wavemocards.com/frontend/upload/06-sadness/sadness11-collapse.svg";
      // let imgSadness12 = "https://wavemocards.com/frontend/upload/06-sadness/sadness12-despair.svg";

      const sadnessCards = document.querySelector('#sadnessCards');
      const listModal = document.querySelector('.list');

      axios.get("https://api.wavemocards.com/emotions?require=cards")
      .then(function(response){
        let aryData = Object.values(response.data); // 轉成「陣列」
        let aryIds = Object.keys(response.data); // 資料庫中的各卡片 id (0~64)

        for(let i=0; i<aryData.length; i++){
          aryData[i].id= aryIds[i];
        }

        // 展開卡
        initCards()
        function initCards() {
            let strCardsSadness = "";
            let emo;
            aryData.forEach(function(data, i){
              if(data.Category == "低落"){
                  emo = "sadness";
                  let contentCards = `
                  <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                      <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
                      <div class="img-box">
                      <img src="./upload/${data.id}.svg" alt="${data.Name}">
                      </div>
                  </button>`;
                  strCardsSadness+=contentCards;
              }
            })
            sadnessCards.innerHTML = strCardsSadness;
        }

        // 大情緒卡 Modal
        initModal();
        function initModal() {
          let strModal = "";
          let emo;
          aryData.forEach(function(data, i){
            if (data.Category == "低落") {
              emo = "sadness";
            }
            
            let content = `
              <li>
                <div class="modal fade px-40 px-md-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
                    <div class="modal-content bg-${emo}">
                      <div class="modal-body d-sm-flex justify-content-between align-items-center">
                        <div class="box-bigCard-text">
                          <div class="d-flex d-md-none w-100 justify-content-center">
                            <div class="d-sm-none box-bigCard-img mb-8">
                              <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
                            </div>
                          </div>
                          <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
                            <h2>${data.Name}</h2>
                            <!-- <a href="modifyEmoCard.html" role="button">
                                <i class="bi bi-pencil-square"></i>
                            </a> -->
                          </div>
                          <div class="mb-16">
                            <h3 class="mb-4">意思：</h3>
                            <p>${data.Description}</p>
                          </div>
                          <div>
                            <h3 class="mb-4">例句：</h3>
                            <p>${data.Example}</p>
                          </div>
                        </div>
                        <div class="d-none d-sm-block box-bigCard-img">
                          <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>`;
            strModal+=content;
          })
          listModal.innerHTML = strModal;
        }

      })
      // let aryData = Object.values(response.data);
      // initCards()
      // function initCards() {
      //   let strCards = "";
      //   let strModal = "";
      //   let emo;
      //   aryData.forEach(function(data, i){
      //     let imgSrc;
      //     if(data.Category == "低落"){
      //       emo = "sadness";
      //       if(data.Name == "無奈") {
      //         imgSrc = imgSadness01;
      //       } else if (data.Name == "挫折") {
      //         imgSrc = imgSadness02;
      //       } else if (data.Name == "失望") {
      //         imgSrc = imgSadness03;
      //       } else if (data.Name == "無力") {
      //         imgSrc = imgSadness04;
      //       } else if (data.Name == "沮喪") {
      //         imgSrc = imgSadness05;
      //       } else if (data.Name == "難過") {
      //         imgSrc = imgSadness06;
      //       } else if (data.Name == "無助") {
      //         imgSrc = imgSadness07;
      //       } else if (data.Name == "悲傷") {
      //         imgSrc = imgSadness08;
      //       } else if (data.Name == "心痛") {
      //         imgSrc = imgSadness09;
      //       } else if (data.Name == "憂鬱") {
      //         imgSrc = imgSadness10;
      //       } else if (data.Name == "崩潰") {
      //         imgSrc = imgSadness11;
      //       } else if (data.Name == "絕望") {
      //         imgSrc = imgSadness12;
      //       }
      //       let contentCards = `
      //         <button type="button" class="class-card me-16 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
      //           <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
      //           <div class="img-box">
      //             <img src="${imgSrc}}" alt="${data.Name}">
      //           </div>
      //         </button>`;
      //       let contentModals = `
      //         <li>
      //           <div class="modal fade px-40 px-md-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      //             <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
      //               <div class="modal-content bg-${emo}">
      //                 <div class="modal-body d-sm-flex justify-content-between align-items-center">
      //                   <div class="box-bigCard-text">
      //                     <div class="d-flex d-md-none w-100 justify-content-center">
      //                       <div class="d-sm-none box-bigCard-img mb-8">
      //                         <img class="w-100" src="${imgSrc}" alt="${data.Name}">
      //                       </div>
      //                     </div>
      //                     <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
      //                       <h2>${data.Name}</h2>
      //                       <!-- <a href="modifyEmoCard.html" role="button">
      //                           <i class="bi bi-pencil-square"></i>
      //                       </a> -->
      //                     </div>
      //                     <div class="mb-16">
      //                       <h3 class="mb-4">意思：</h3>
      //                       <p>${data.Description}</p>
      //                     </div>
      //                     <div>
      //                       <h3 class="mb-4">例句：</h3>
      //                       <p>${data.Example}</p>
      //                     </div>
      //                   </div>
      //                   <div class="d-none d-sm-block box-bigCard-img">
      //                     <img class="w-100" src="${imgSrc}" alt="${data.Name}">
      //                   </div>
      //                 </div>
      //               </div>
      //             </div>
      //           </div>
      //         </li>`;
      //       strCards+=contentCards;
      //       strModal+=contentModals;
      //     }
      //   })
      //   sadnessCards.innerHTML = strCards;
      //   listModal.innerHTML = strModal;
      // }
    </script>
  </body>
</html>