<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜情緒卡-展開</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
      <div class="container py-16 pt-72" id="top">
        <div class="titleBar d-flex justify-content-between align-items-center">
            <h2>情緒卡</h2>
            <div class="nav-btn d-flex justify-content-end">
                <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">分類</a>
                <div class="ms-16 btn-disable">展開</div>
            </div>
        </div>
  
        <!-- 快樂類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadHappy" href="emoCardsHappy.html">
              <span>快</span><span>樂</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy01">
                  <p>滿&nbsp;足</p>
                  <div class="img-box">
                    <img src="https://wavemocards.com/frontend/upload/01-happy/happy01-statisfy.svg" alt="滿足">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy02">
                  <p>快&nbsp;樂</p>
                  <div class="img-box">
                    <img src="../assets/images/01-happy/happy02-happy.svg" alt="快樂">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy03">
                  <p>幸&nbsp;福</p>
                  <div class="img-box">
                    <img src="../assets/images/01-happy/happy03-happiness.svg" alt="幸福">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy04">
                  <p>自&nbsp;豪</p>
                  <div class="img-box">
                    <img src="../assets/images/01-happy/happy04-proud.svg" alt="自豪">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy05">
                  <p>興&nbsp;奮</p>
                  <div class="img-box">
                    <img src="../assets/images/01-happy/happy05-excited.svg" alt="興奮">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy06">
                  <p>痛&nbsp;快</p>
                  <div class="img-box">
                    <img src="../assets/images/01-happy/happy06-cheerful.svg" alt="痛快">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy07">
                  <p>狂&nbsp;喜</p>
                  <div class="img-box">
                    <img src="../assets/images/01-happy/happy07-ecstasy.svg" alt="狂喜">
                  </div>
              </button>
          </div>
        </div>
        <!-- 期待類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadExpectation" href="emoCardsExpectation.html">
              <span>期</span><span>待</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-expectation link-gray-900 class-card-expectation" data-bs-toggle="modal" data-bs-target="#expectation01">
                  <p>期&nbsp;待</p>
                  <div class="img-box">
                    <img src="../assets/images/02-expectation/expaction01-expect.svg" alt="期待">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-expectation link-gray-900 class-card-expectation " data-bs-toggle="modal" data-bs-target="#expectation02">
                  <p class="px-0">有信心</p>
                  <div class="img-box">
                    <img src="../assets/images/02-expectation/expaction02-confidence.svg" alt="有信心">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-expectation link-gray-900 class-card-expectation" data-bs-toggle="modal" data-bs-target="#expectation03">
                  <p>充滿興趣</p>
                  <div class="img-box">
                    <img src="../assets/images/02-expectation/expaction03-interested.svg" alt="充滿興趣">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-expectation link-gray-900 class-card-expectation" data-bs-toggle="modal" data-bs-target="#expectation04">
                  <p>渴望</p>
                  <div class="img-box">
                    <img src="../assets/images/02-expectation/expaction04-desire.svg" alt="渴望">
                  </div>
              </button>
          </div>
        </div>
        <!-- 放鬆類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadRelived" href="emoCardsRelived.html">
              <span>放</span><span>鬆</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived01">
                  <p>舒&nbsp;服</p>
                  <div class="img-box">
                    <img src="../assets/images/03-relived/relived01-comfortable.svg" alt="舒服">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived02">
                  <p>放&nbsp;鬆</p>
                  <div class="img-box">
                    <img src="../assets/images/03-relived/relived02-relax.svg" alt="放鬆">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived03">
                  <p>平&nbsp;靜</p>
                  <div class="img-box">
                    <img src="../assets/images/03-relived/relived03-calm.svg" alt="平靜">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived04">
                  <p>安&nbsp;心</p>
                  <div class="img-box">
                    <img src="../assets/images/03-relived/relived04-relieved.svg" alt="安心">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived05">
                  <p>自&nbsp;在</p>
                  <div class="img-box">
                    <img src="../assets/images/03-relived/relived05-ease.svg" alt="自在">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-relived link-gray-900 class-card-relived" data-bs-toggle="modal" data-bs-target="#relived06">
                  <p>信&nbsp;任</p>
                  <div class="img-box">
                    <img src="../assets/images/03-relived/relived06-trust.svg" alt="信任">
                  </div>
              </button>
          </div>
        </div>
        <!-- 不安類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadUnstable" href="emoCardsUnstable.html">
              <span>不</span><span>安</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable01">
                  <p>害&nbsp;羞</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable01-shy.svg" alt="害羞">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable02">
                  <p>擔&nbsp;心</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable02-worry.svg" alt="擔心">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable03">
                  <p>迷&nbsp;惘</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable03-confused.svg" alt="迷惘">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable04">
                  <p>不&nbsp;安</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable04-anxious.svg" alt="不安">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable05">
                  <p>害&nbsp;怕</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable05-afraid.svg" alt="害怕">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable06">
                  <p>緊&nbsp;張</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable06-nervous.svg" alt="緊張">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable07">
                  <p>焦&nbsp;慮</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable07-anxious.svg" alt="焦慮">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable08">
                  <p>恐&nbsp;懼</p>
                  <div class="img-box">
                    <img src="../assets/images/04-unstable/unstable08-fear.svg" alt="恐懼">
                  </div>
              </button>
          </div>
        </div>
        <!-- 驚訝類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadAmazed" href="emoCardsAmazed.html">
              <span>驚</span><span>訝</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-amazed link-gray-900 class-card-amazed" data-bs-toggle="modal" data-bs-target="#amazed01">
                  <p>錯&nbsp;愕</p>
                  <div class="img-box">
                    <img src="../assets/images/05-amazed/amazed01-stunned.svg" alt="錯愕">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-amazed link-gray-900 class-card-amazed" data-bs-toggle="modal" data-bs-target="#amazed02">
                  <p>驚&nbsp;訝</p>
                  <div class="img-box">
                    <img src="../assets/images/05-amazed/amazed02-astonishment.svg" alt="驚訝">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-amazed link-gray-900 class-card-amazed" data-bs-toggle="modal" data-bs-target="#amazed03">
                  <p>驚&nbsp;喜</p>
                  <div class="img-box">
                    <img src="../assets/images/05-amazed/amazed03-surprised.svg" alt="驚喜">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-amazed link-gray-900 class-card-amazed" data-bs-toggle="modal" data-bs-target="#amazed04">
                  <p>震&nbsp;驚</p>
                  <div class="img-box">
                    <img src="../assets/images/05-amazed/amazed04-shocked.svg" alt="震驚">
                  </div>
              </button>
          </div>
        </div>
        <!-- 低落類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadSadness" href="emoCardsSadness.html">
              <span>低</span><span>落</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness01">
                  <p>無&nbsp;奈</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness01-helpless.svg" alt="無奈">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness02">
                  <p>挫&nbsp;折</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness02-setback.svg" alt="挫折">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness03">
                  <p>失&nbsp;望</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness03-disappointed.svg" alt="失望">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness04">
                  <p>無&nbsp;力</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness04-powerless.svg" alt="無力">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness05">
                  <p>沮&nbsp;喪</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness05-frustrated.svg" alt="沮喪">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness06">
                  <p>難&nbsp;過</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness06-sad.svg" alt="難過">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness07">
                  <p>無&nbsp;助</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness07-powerless.svg" alt="無助">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness08">
                  <p>悲&nbsp;傷</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness08-sorrow.svg" alt="悲傷">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness09">
                  <p>心&nbsp;痛</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness09-heartache.svg" alt="心痛">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness10">
                  <p>憂&nbsp;鬱</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness10-depressed.svg" alt="憂鬱">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness11">
                  <p>崩&nbsp;潰</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness11-collapse.svg" alt="崩潰">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#sadness12">
                  <p>絕&nbsp;望</p>
                  <div class="img-box">
                    <img src="../assets/images/06-sadness/sadness12-despair.svg" alt="絕望">
                  </div>
              </button>
          </div>
        </div>
        <!-- 討厭類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadHate" href="emoCardsHate.html">
              <span>討</span><span>厭</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate01">
                  <p>無&nbsp;聊</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate01-boring.svg" alt="無聊">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate02">
                  <p>厭&nbsp;倦</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate02-weariness.svg" alt="厭倦">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate03">
                  <p>自&nbsp;卑</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate03-inferiority.svg" alt="自卑">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate04">
                  <p>討&nbsp;厭</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate04-hate.svg" alt="討厭">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate05">
                  <p>嫉&nbsp;妒</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate05-jealousy.svg" alt="嫉妒">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate06">
                  <p>厭&nbsp;惡</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate06-disgust.svg" alt="厭惡">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate07">
                  <p>噁&nbsp;心</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate07-nausea.svg" alt="噁心">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-hate link-gray-900 class-card-hate" data-bs-toggle="modal" data-bs-target="#hate08">
                  <p>怨&nbsp;恨</p>
                  <div class="img-box">
                    <img src="../assets/images/07-hate/hate08-resentment.svg" alt="怨恨">
                  </div>
              </button>
          </div>
        </div>
        <!-- 生氣類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadAnger" href="emoCardsAnger.html">
              <span>生</span><span>氣</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-anger link-gray-900 class-card-anger" data-bs-toggle="modal" data-bs-target="#anger01">
                  <p>不&nbsp;滿</p>
                  <div class="img-box">
                    <img src="../assets/images/08-anger/anger01-dissatisfied.svg" alt="不滿">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-anger link-gray-900 class-card-anger" data-bs-toggle="modal" data-bs-target="#anger02">
                  <p>煩&nbsp;躁</p>
                  <div class="img-box">
                    <img src="../assets/images/08-anger/anger02-irritated.svg" alt="煩躁">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-anger link-gray-900 class-card-anger" data-bs-toggle="modal" data-bs-target="#anger03">
                  <p>生&nbsp;氣</p>
                  <div class="img-box">
                    <img src="../assets/images/08-anger/anger03-anger.svg" alt="生氣">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-anger link-gray-900 class-card-anger" data-bs-toggle="modal" data-bs-target="#anger04">
                  <p>憤&nbsp;怒</p>
                  <div class="img-box">
                    <img src="../assets/images/08-anger/anger04-indignant.svg" alt="憤怒">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-anger link-gray-900 class-card-anger" data-bs-toggle="modal" data-bs-target="#anger05">
                  <p>暴&nbsp;怒</p>
                  <div class="img-box">
                    <img src="../assets/images/08-anger/anger05-rage.svg" alt="暴怒">
                  </div>
              </button>
          </div>
        </div>
        <!-- 其他類 -->
        <div class="mb-24 d-flex flex-nowrap">
          <a class="emoCardsHead link-gray-900 emoCardHeadOthers" href="emoCardsOthers.html">
              <span>其</span><span>他</span>
          </a>
          <div class="d-flex overflow-auto">
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others01">
                  <p>釋&nbsp;懷</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others01-release.svg" alt="釋懷">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others02">
                  <p>尷&nbsp;尬</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others02-awkward.svg" alt="尷尬">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others03">
                  <p>羨&nbsp;慕</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others03-envy.svg" alt="羨慕">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others04">
                  <p>愧&nbsp;疚</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others04-guilty.svg" alt="愧疚">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others05">
                  <p>矛&nbsp;盾</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others05-conflict.svg" alt="矛盾">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others06">
                  <p>後&nbsp;悔</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others06-regret.svg" alt="後悔">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others07">
                  <p>委&nbsp;屈</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others07-injustice.svg" alt="委屈">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others08">
                  <p>寂&nbsp;寞</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others08-loneliness.svg" alt="寂寞">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others09">
                  <p>羞&nbsp;恥</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others09-shame.svg" alt="羞恥">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others10">
                  <p>感&nbsp;動</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others10-touching.svg" alt="感動">
                  </div>
              </button>
              <button type="button" class="class-card mb-12 me-16 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#others11">
                  <p>激&nbsp;動</p>
                  <div class="img-box">
                    <img src="../assets/images/09-others/others11-excited.svg" alt="激動">
                  </div>
              </button>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/floatButton') -%>

    <%- include('./layout/modalEmoCards'); -%>
    
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>