<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLogined'); -%>

    <div class="emoCardsClassified">
      <div class="container  py-16">
        <div class="nav-btn py-16 d-flex justify-content-end">
          <a class="btn btn-outline-main c-btn" href="aboutEmotions.html">關於情緒</a>
          <div class="ms-16 btn-disable">情緒卡</div>
        </div>

        <div class="guid px-24 py-16 bg-main-tint03">
          <p class="mb-8">你在情緒的世界裡迷航了嗎？</p>
          <p class="mb-8">沒關係，讓我們一起在浪潮情緒卡中，找尋自己的情緒。</p>
          <p class="mb-8">
            你可以藉由以下兩種方式「
            <a class="px-4" href="">情緒卡</a>
            」、「
            <a class="px-4" href="">情緒表</a>
            」，瀏覽與認識各種情緒。
          </p>
          <p>
            此外，若您想增加新的情緒卡・詞彙，可以點選「
            <a class="px-4" href="addEmoCard">新增情緒卡</a>
            」，新增情緒卡。
          </p>
        </div>

        <div class="title d-flex justify-content-between align-items-center">
          <h2>情緒卡</h2>
          <div class="nav-btn d-flex justify-content-end">
            <div class="btn-disable">分類</div>
            <a class="ms-16 btn btn-outline-main c-btn" href="emoCardsUnclassified.html">展開</a>
          </div>
        </div>
        <!-- 分類卡片區 -->
        <div class="d-flex flex-wrap">
          <div class="class-card me-16 bg-happy class-card-happy">
            <p>快&nbsp;樂</p>
            <div class="img-box">
              <img src="../assets/images/happy/happy.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-expectation class-card-expectation">
            <p>期&nbsp;待</p>
            <div class="img-box">
              <img src="../assets/images/expectation/expectation.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-relived class-card-relived">
            <p>安&nbsp;心</p>
            <div class="img-box">
              <img src="../assets/images/relived/relived.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-unstable class-card-unstable">
            <p>不&nbsp;安</p>
            <div class="img-box">
              <img src="../assets/images/unstable/unstable.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-amazed class-card-amazed">
            <p>驚&nbsp;訝</p>
            <div class="img-box">
              <img src="../assets/images/amazed/amazed.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-sadness class-card-sadness">
            <p>低&nbsp;落</p>
            <div class="img-box">
              <img src="../assets/images/sadness/sadness.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-hate class-card-hate">
            <p>討&nbsp;厭</p>
            <div class="img-box">
              <img src="../assets/images/hate/hate.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-anger class-card-anger">
            <p>生&nbsp;氣</p>
            <div class="img-box">
              <img src="../assets/images/happy/happy.svg" alt="happy">
            </div>
          </div>
          <div class="class-card me-16 bg-others class-card-others">
            <p>其&nbsp;他</p>
            <div class="img-box">
              <img src="../assets/images/happy/happy.svg" alt="happy">
            </div>
          </div>
        </div>

        <div class="title">
          <h2>情緒表</h2>
        </div>

        <div class="mb-8 d-flex overflow-auto flex-nowrap">
          <a href="emoCardsHappy.html" class="me-8 btn btn-emoTable btn-happy">快樂</a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-emoTable btn-happy opacity-happy" data-bs-toggle="modal" data-bs-target="#happy01">
            滿足
          </button>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <!-- Modal -->
    <div class="modal fade px-32" id="happy01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
        <div class="modal-content bg-happy">
          <div class="modal-body d-flex justify-content-between align-items-center">
            <div class="text">
              <div class="title w-100 mb-20 d-flex justify-content-between  align-items-end">
                <h2>滿足</h2>
                <a href="addEmoCard.html" role="button">
                  <i class="bi bi-pencil-square"></i>
                </a>
              </div>
              <div class="mb-16">
                <h3 class="mb-4">意思：</h3>
                <p>一種心理或情感上的滿意狀態。</p>
              </div>
              <div>
                <h3 class="mb-4">例句：</h3>
                <p>我完成了自己今天的讀書目標，讓我感到很滿足。</p>
              </div>
            </div>

            <div class="img">
              <img class="w-100" src="../assets/images/happy/happy.svg" alt="滿足">
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../main.js"></script>
    <script type="text/javascript" src="../assets/js/mouseoverTitle.js"></script>
  </body>
</html>