<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>浪潮情緒卡｜找尋我的情緒｜分類探索</title>
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <%- include('./layout/headerLoggedIn'); -%>

        <main>
            <div class="container py-16 pt-72" id="top">
                <!-- 標題 -->
                <div class="titleBar d-flex justify-content-between align-items-center">
                    <h2>找尋我的情緒｜分類探索</h2>
                    <a class="ms-16 btn btn-main c-btn btn-goToMyCards" href="myEmoCardsHolder.html">
                        <i class="bi bi-folder2"></i>
                        <i class="bi bi-folder2-open"></i>
                        <span class="ms-4">我的情緒卡夾</span>
                    </a>
                </div>
                <!-- 導覽說明 -->
                <div class="guid px-24 py-12 bg-main-tint03">
                    <p class="mb-4">
                        你可以藉由以下兩種方式「
                        <a class="px-4" href="#emoCardsTitle">情緒卡</a>
                        」、「
                        <a class="px-4" href="#emoTableTitle">情緒表</a>
                        」，挑選情緒卡。
                    </p>
                </div>
    
                <!-- 情緒卡 -->
                <div id="emoCardsTitle" style="height: 56px;"></div>
                <div class="titleBar d-flex justify-content-between align-items-center">
                    <h2>情緒卡</h2>
                    <div class="nav-btn d-flex justify-content-end">
                        <div class="btn-disable">分類</div>
                        <a class="ms-16 btn btn-outline-main c-btn" href="findEmoClassifiedExpand.html">展開</a>
                    </div>
                </div>
                <!-- 卡片分類 -->
                <div class="d-flex flex-wrap">
                    <a class="class-card me-16 bg-happy link-gray-900 class-card-happy" href="findEmoHappy.html">
                    <p>快&nbsp;樂</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/01-happy/happy02-happy.svg" alt="快樂">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-expectation link-gray-900 class-card-expectation" href="findEmoExpectation.html">
                    <p>期&nbsp;待</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/02-expectation/expaction01-expect.svg" alt="期待">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-relived link-gray-900 class-card-relived" href="findEmoRelived.html">
                    <p>安&nbsp;心</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/03-relived/relived04-relieved.svg" alt="安心">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-unstable link-gray-900 class-card-unstable" href="findEmoUnstable.html">
                    <p>不&nbsp;安</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable04-anxious.svg" alt="不安">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-amazed link-gray-900 class-card-amazed" href="findEmoAmazed.html">
                    <p>驚&nbsp;訝</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/05-amazed/amazed02-astonishment.svg" alt="驚訝">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-sadness link-gray-900 class-card-sadness" href="findEmoSadness.html">
                    <p>低&nbsp;落</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness05-frustrated.svg" alt="低落">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-hate link-gray-900 class-card-hate" href="findEmoHate.html">
                    <p>討&nbsp;厭</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/07-hate/hate03-inferiority.svg" alt="討厭">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-anger link-gray-900 class-card-anger" href="findEmoAnger.html">
                    <p>生&nbsp;氣</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/08-anger/anger02-irritated.svg" alt="生氣">
                    </div>
                    </a>
                    <a class="class-card me-16 bg-others link-gray-900 class-card-others" href="findEmoOthers.html">
                    <p>其&nbsp;他</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/09-others/others01-release.svg" alt="其他">
                    </div>
                    </a>
                </div>
    
                <!-- 情緒表 -->
                <div id="emoTableTitle" style="height: 56px;"></div>
                <div class="titleBar">
                    <h2>情緒表</h2>
                </div>
                <p class="mb-4 text-gray-550">
                    🔎 請點擊下方各個情緒名詞，展開詳細情緒資訊。
                </p>
                <p class="mb-32 text-gray-550">
                    🔎 透過點擊 <i class="bi bi-plus-lg"></i>，將情緒新增進「我的情緒卡清夾」中。
                </p>
                <!-- 快樂類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsHappy.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-happy fw-700 d-flex align-items-center text-nowrap">快樂</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy01">
                                滿足
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy02">
                                快樂
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy03">
                                幸福
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy04">
                                自豪
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy05">
                                興奮
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy06">
                                痛快
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-happy opacity-happy text-nowrap" data-bs-toggle="modal" data-bs-target="#addHappy07">
                                狂喜
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 期待類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsExpectation.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-expectation fw-700 d-flex align-items-center text-nowrap">期待</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-expectation opacity-expectation text-nowrap" data-bs-toggle="modal" data-bs-target="#addExpectation01">
                                期待
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-expectation opacity-expectation text-nowrap" data-bs-toggle="modal" data-bs-target="#addExpectation02">
                                有信心
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-expectation opacity-expectation text-nowrap" data-bs-toggle="modal" data-bs-target="#addExpectation03">
                                充滿興趣
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-expectation opacity-expectation text-nowrap" data-bs-toggle="modal" data-bs-target="#addExpectation04">
                                渴望
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 安心類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsRelived.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-relived fw-700 d-flex align-items-center text-nowrap">安心</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#addRelived01">
                                舒服
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#addRelived02">
                                放鬆
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#addRelived03">
                                平靜
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#addRelived04">
                                安心
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#addRelived05">
                                自在
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-relived opacity-relived text-nowrap" data-bs-toggle="modal" data-bs-target="#addRelived06">
                                信任
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 不安類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsUnstable.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-unstable fw-700 d-flex align-items-center text-nowrap">不安</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable01">
                                害羞
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable02">
                                擔心
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable03">
                                迷惘
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable04">
                                不安
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable05">
                                害怕
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable06">
                                緊張
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable07">
                                焦慮
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-unstable opacity-unstable text-nowrap" data-bs-toggle="modal" data-bs-target="#addUnstable08">
                                恐懼
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 驚訝類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsAmazed.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-amazed fw-700 d-flex align-items-center text-nowrap">驚訝</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-amazed opacity-amazed text-nowrap" data-bs-toggle="modal" data-bs-target="#addAmazed01">
                                錯愕
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-amazed opacity-amazed text-nowrap" data-bs-toggle="modal" data-bs-target="#addAmazed02">
                                驚訝
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-amazed opacity-amazed text-nowrap" data-bs-toggle="modal" data-bs-target="#addAmazed03">
                                驚喜
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-amazed opacity-amazed text-nowrap" data-bs-toggle="modal" data-bs-target="#addAmazed04">
                                震驚
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 低落類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsSadness.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-sadness fw-700 d-flex align-items-center text-nowrap">低落</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness01">
                                無奈
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness02">
                                挫折
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness03">
                                失望
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness04">
                                無力
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness05">
                                沮喪
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness06">
                                難過
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness07">
                                無助
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness08">
                                悲傷
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness09">
                                心痛
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness10">
                                憂鬱
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness11">
                                崩潰
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-sadness opacity-sadness text-nowrap" data-bs-toggle="modal" data-bs-target="#addSadness12">
                                絕望
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 討厭類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsHate.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-hate fw-700 d-flex align-items-center text-nowrap">討厭</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate01">
                                無聊
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate02">
                                厭倦
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate03">
                                自卑
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate04">
                                討厭
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate05">
                                嫉妒
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate06">
                                厭惡
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate07">
                                噁心
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-hate opacity-hate text-nowrap" data-bs-toggle="modal" data-bs-target="#addHate08">
                                怨恨
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 生氣類 -->
                <div class="d-flex flex-nowrap">
                    <a href="emoCardsAnger.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-anger fw-700 d-flex align-items-center text-nowrap">生氣</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-anger opacity-anger text-nowrap" data-bs-toggle="modal" data-bs-target="#addAnger01">
                                不滿
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-anger opacity-anger text-nowrap" data-bs-toggle="modal" data-bs-target="#addAnger02">
                                煩躁
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-anger opacity-anger text-nowrap" data-bs-toggle="modal" data-bs-target="#addAnger03">
                                生氣
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-anger opacity-anger text-nowrap" data-bs-toggle="modal" data-bs-target="#addAnger04">
                                憤怒
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-anger opacity-anger text-nowrap" data-bs-toggle="modal" data-bs-target="#addAnger05">
                                暴怒
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
                <!-- 其他類 -->
                <div class="mb-64 d-flex flex-nowrap">
                    <a href="emoCardsOthers.html" class="emoTableHead me-12 my-12 btn btn-emoTable btn-others fw-700 d-flex align-items-center text-nowrap">其他</a>
                    <div class="d-flex overflow-auto py-12">
                        <!-- Button trigger modal -->
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers01">
                                釋懷
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers02">
                                尷尬
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers03">
                                羨慕
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers04">
                                愧疚
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers05">
                                矛盾
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers06">
                                後悔
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers07">
                                委屈
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers08">
                                寂寞
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers09">
                                羞恥
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers10">
                                感動
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                        <div class="me-20 position-relative emoTableAdd">
                            <button type="button" class="btn btn-emoTable btn-others opacity-others text-nowrap" data-bs-toggle="modal" data-bs-target="#addOthers11">
                                激動
                            </button>
                            <a class="position-absolute top-0 start-100 translate-middle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./layout/floatButtons') -%>

        <%- include('./layout/footer'); -%>
        <%- include('./layout/modalEmoCardsPlus'); -%>

        <%- include('./layout/baseJs'); -%>
    </body>
</html>