<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒｜分類探索｜不安</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <div class="" id="top"></div>
    <%- include('./layout/headerLoggedInNoFixed'); -%>

    <main>
        <!-- title bar -->
        <div class="sticky-top pb-8 bg-white">
            <div class="container pt-16">
                <div class="pb-8 px-12 px-sm-0 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
                    <h2 class="fs-3">不安</h2>
                    <div class="nav-btn d-flex justify-content-end">
                        <a class="btn btn-outline-main c-btn" href="findEmoCards.html">返回</a>
                        <a class="ms-16 btn btn-main c-btn btn-goToMyCards" href="myEmoCardsHolder.html">
                            <i class="bi bi-folder2"></i>
                            <i class="bi bi-folder2-open"></i>
                            <span class="ms-4">我的情緒卡夾</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <p class="mt-16 mb-48 px-12 px-sm-0 text-gray-550">
                🔎 點擊卡片，可閱讀該情緒的詳細內容。
            </p>
    
            <!-- cards -->
            <div class="mb-72 d-flex flex-wrap justify-content-center justify-content-md-start" id="unstableCards">
                <!-- <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable01">
                        <p>害&nbsp;羞</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable01-shy.svg" alt="害羞">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable02">
                        <p>擔&nbsp;心</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable02-worry.svg" alt="擔心">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable03">
                        <p>迷&nbsp;惘</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable03-confused.svg" alt="迷惘">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable04">
                        <p>不&nbsp;安</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable04-anxious.svg" alt="不安">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable05">
                        <p>害&nbsp;怕</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable05-afraid.svg" alt="害怕">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable06">
                        <p>緊&nbsp;張</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable06-nervous.svg" alt="緊張">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable07">
                        <p>焦&nbsp;慮</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable07-anxious.svg" alt="焦慮">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-36 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#addUnstable08">
                        <p>恐&nbsp;懼</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable08-fear.svg" alt="恐懼">
                        </div>
                    </button>
                </div> -->
            </div>
        </div>
    </main>

    <!-- modalEmoCards -->
    <ul class="listModal">
        <li></li>
    </ul>

    <%- include('./layout/floatButton') -%>
    
    <%- include('./layout/footer'); -%>
    <%- include('./layout/modalEmoCardsPlus'); -%>

    <%- include('./layout/baseJs'); -%>
    <script>
        const unstableCards = document.querySelector('#unstableCards');
        const listModal = document.querySelector('.listModal');

        axios.get("http://api2.wavemocards.com/emotions?require=cards")
            .then(function(response){
                let aryData = Object.values(response.data); // 轉成「陣列」
                let aryIds = Object.keys(response.data); // 資料庫中的各卡片 id (0~64)

                for(let i=0; i<aryData.length; i++){
                    aryData[i].id= aryIds[i];
                }

            // 展開卡
            initCards()
            function initCards() {
                let strCardsUnstable = "";
                let strModal = "";
                let emo;
                aryData.forEach(function(data, i){
                    if(data.Category == "不安"){
                        emo = "unstable";
                        let contentCards = `
                        <div class="position-relative me-48 mb-24">
                            <button type="button" class="position-absolute top-0 start-100 translate-middle rounded-circle border-0 btn-add-card-m"></button>
                            <button type="button" class="class-card mb-12 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                                <p>${data.Name[0]}&nbsp;${data.Name[1]}</p>
                                <div class="img-box">
                                    <img src="./upload/${data.id}.svg" alt="${data.Name}">
                                </div>
                            </button>
                        </div>`;
                        strCardsUnstable+=contentCards;
                    }
                })
                unstableCards.innerHTML = strCardsUnstable;
            }

            // 大情緒卡 Modal
            initModal();
            function initModal() {
            let strModal = "";
            let emo;
            aryData.forEach(function(data, i){
                if (data.Category == "不安") {
                    emo = "unstable";
                }
                
                let content = `
                    <li>
                        <div class="modal fade px-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
                                <div class="modal-content bg-${emo} my-36">
                                    <div class="modal-body d-sm-flex justify-content-between align-items-center position-relative">
                                        <button type="button" class="position-absolute top-0 start-100 translate-middle rounded-circle border-0 btn-add-card-xl"></button>
                                        <div class="box-bigCard-text">
                                            <div class="d-flex d-md-none w-100 justify-content-center">
                                                <div class="d-sm-none box-bigCard-img mb-8">
                                                    <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
                                                </div>
                                            </div>
                                            <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
                                                <h2>${data.Name}</h2>
                                            </div>
                                            <div class="mb-16">
                                                <h3 class="mb-4">意思：</h3>
                                                <p>${data.Description}</p>
                                            </div>
                                            <div>
                                                <h3 class="mb-4">例句：</h3>
                                                <p>${data.Example}</p>
                                            </div>
                                        </div>
                                        <div class="d-none d-sm-block box-bigCard-img">
                                            <img class="w-100" src="./upload/${data.id}.svg" alt="${data.Name}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>`;
                    strModal+=content;
                })
                listModal.innerHTML = strModal;
            }
        })
    </script>
  </body>
</html>