<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒｜分類探索｜快樂</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
        <div class="container py-16 pt-72" id="top">
            <!-- title bar -->
            <div class="titleBar d-flex justify-content-between align-items-center">
                <h2>快樂</h2>
                <div class="nav-btn d-flex justify-content-end">
                    <a class="btn btn-outline-main c-btn" href="findEmoClassified.html">返回</a>
                    <a class="ms-16 btn btn-main c-btn btn-goToMyCards" href="myEmoCardsHolder.html">
                        <i class="bi bi-folder2"></i>
                        <i class="bi bi-folder2-open"></i>
                        <span class="ms-4">我的情緒卡夾</span>
                    </a>
                </div>
            </div>

            <p class="mb-44 text-gray-550">
                🔎 透過點擊 <i class="bi bi-plus-lg"></i>，將情緒新增進「我的情緒卡夾」中。
            </p>

            <!-- cards -->
            <div class="d-flex flex-wrap mb-72">
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy01">
                        <p>滿&nbsp;足</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy01-statisfy.svg" alt="滿足">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy02">
                        <p>快&nbsp;樂</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy02-happy.svg" alt="快樂">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy03">
                        <p>幸&nbsp;福</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy03-happiness.svg" alt="幸福">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy04">
                        <p>自&nbsp;豪</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy04-proud.svg" alt="自豪">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy05">
                        <p>興&nbsp;奮</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy05-excited.svg" alt="興奮">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy06">
                        <p>痛&nbsp;快</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy06-cheerful.svg" alt="痛快">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#addHappy07">
                        <p>狂&nbsp;喜</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/01-happy/happy07-ecstasy.svg" alt="狂喜">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/floatButtons') -%>
    
    <%- include('./layout/footer'); -%>
    <%- include('./layout/modalEmoCardsPlus'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>