<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 手機版網頁 CSS Reset 螢幕解析度 Reset -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒｜我的情緒強度</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <div class="" id="top"></div>
    <%- include('./layout/headerLoggedInNoFixed'); -%>

    <main>
        <div class="sticky-top pb-8 bg-white">
            <div class="container">
                <!-- process bar -->
                <div class="d-flex mb-20 pt-20 justify-content-center justify-content-sm-end">
                    <div class="progressBar mb-8 px-12">
                        <div class="position-relative m-4">
                            <div class="progress bg-gray-300" style="height: 2px;">
                                <div class="progress-bar bg-main-tint01" role="progressbar" style="width: 20%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="p-num position-absolute top-0 start-0 translate-middle btn btn-sm btn-main-tint01 rounded-pill d-flex justify-content-center align-items-center">
                                <span class="d-block">1</span>
                            </div>
                            <div class="p-num position-absolute top-0 start-20 translate-middle btn btn-sm btn-outline-main-tint01 rounded-pill d-flex justify-content-center align-items-center">
                                <span class="d-block">2</span>
                            </div>
                            <div class="p-num position-absolute top-0 start-40 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                                <span class="d-block">3</span>
                            </div>
                            <div class="p-num position-absolute top-0 start-60 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                                <span class="d-block">4</span>
                            </div>
                            <div class="p-num position-absolute top-0 start-80 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                                <span class="d-block">5</span>
                            </div>
                            <div class="p-num position-absolute top-0 start-100 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                                <span class="d-block">6</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- title bar -->
                <div class="pb-8 px-12 px-sm-0 border-2 border-bottom border-main-tint02 d-flex justify-content-between align-items-center">
                    <h2 class="fs-3 d-none d-md-block">我的情緒強度｜第一次</h2>
                    <h2 class="fs-3 d-md-none d-flex flex-column">
                        <span class="d-block">我的情緒強度</span>
                        <span>第一次</span>
                    </h2>
                    <div class="nav-btn d-flex justify-content-end">
                        <!-- <a class="btn btn-outline-main-tint01 c-btn c-btn-outline-main-tint01 text-nowrap d-flex justify-content-center align-items-center" href="myEmoCardsHolder.html">上一步</a> -->
                        <button type="button" class="ms-16 px-md-24 btn btn-main c-btn text-nowrap d-flex justify-content-center align-items-center" id="btnNext">下一步
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pb-112">
            <!-- 導覽 -->
            <ul  class="ms-4 mt-12 mb-36 px-12 px-sm-0 text-gray-550 fs-7">
                <li class="mb-4 text-gray-550 fs-7">謝謝親愛的ＯＯ努力地找尋到屬於自己的情緒卡。</li>
                <li class="mb-4 text-gray-550 fs-7">
                    在進入下一步前，想邀請ＯＯ，再次 <span class="text-main fw-500">閉上眼睛，深呼吸～吐氣～</span></li>
                <li class="mb-40 text-gray-550 fs-7">
                    並在深呼吸的過程中，感受心中的自己，<span class="text-main fw-500">挑選的情緒，其強度分別如何呢？</span><span class="fs-8">（ 1分代表最為微弱，5分代表最為強烈 ）</span></li>
            </ul>
        
            <div id="strengthArea"></div>
            <!-- 1 card & point -->
            <!-- <div class="mb-40 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                <button type="button" class="class-card mb-md-0 bg-expectation link-gray-900 class-card-expectation" data-bs-toggle="modal" data-bs-target="#expectation01">
                    <p>期&nbsp;待</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/02-expectation/expaction01-expect.svg" alt="期待">
                    </div>
                </button>
                <div class="box-strength d-flex justify-content-between align-items-center">
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st01" id="1stEmo01Point01" value="1">
                        <label for="1stEmo01Point01" class="form-label text-strength ">
                            1
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st01" id="1stEmo01Point02" value="2">
                        <label for="1stEmo01Point02" class="form-label text-strength ">
                            2
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st01" id="1stEmo01Point03" value="3">
                        <label for="1stEmo01Point03" class="form-label text-strength ">
                            3
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st01" id="1stEmo01Point04" value="4">
                        <label for="1stEmo01Point04" class="form-label text-strength ">
                            4
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st01" id="1stEmo01Point05" value="5">
                        <label for="1stEmo01Point05" class="form-label text-strength ">
                            5
                        </label>
                    </div>
                </div>
            </div> -->
            <!-- 2 card & point -->
            <!-- <div class="mb-40 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                <button type="button" class="class-card mb-md-0 bg-happy link-gray-900 class-card-happy" data-bs-toggle="modal" data-bs-target="#happy05">
                    <p>興&nbsp;奮</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/01-happy/happy05-excited.svg" alt="興奮">
                    </div>
                </button>
                <div class="box-strength d-flex justify-content-between align-items-center">
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st02" id="1stEmo02Point01" value="1">
                        <label for="1stEmo02Point01" class="form-label text-strength ">
                            1
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st02" id="1stEmo02Point02" value="2">
                        <label for="1stEmo02Point02" class="form-label text-strength ">
                            2
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st02" id="1stEmo02Point03" value="3">
                        <label for="1stEmo02Point03" class="form-label text-strength ">
                            3
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st02" id="1stEmo02Point04" value="4">
                        <label for="1stEmo02Point04" class="form-label text-strength ">
                            4
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st02" id="1stEmo02Point05" value="5">
                        <label for="1stEmo02Point05" class="form-label text-strength ">
                            5
                        </label>
                    </div>
                </div>
            </div> -->
            <!-- 3 card & point -->
            <!-- <div class="mb-72 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                <button type="button" class="class-card mb-md-0 bg-unstable link-gray-900 class-card-unstable" data-bs-toggle="modal" data-bs-target="#unstable02">
                    <p>擔&nbsp;心</p>
                    <div class="img-box">
                        <img src="https://wavemocards.com/frontend/upload/04-unstable/unstable02-worry.svg" alt="擔心">
                    </div>
                </button>
                <div class="box-strength d-flex justify-content-between align-items-center">
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st03" id="1stEmo03Point01" value="1">
                        <label for="1stEmo03Point01" class="form-label text-strength ">
                            1
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st03" id="1stEmo03Point02" value="2">
                        <label for="1stEmo03Point02" class="form-label text-strength ">
                            2
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st03" id="1stEmo03Point03" value="3">
                        <label for="1stEmo03Point03" class="form-label text-strength ">
                            3
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st03" id="1stEmo03Point04" value="4">
                        <label for="1stEmo03Point04" class="form-label text-strength ">
                            4
                        </label>
                    </div>
                    <div>
                        <input type="radio" class="d-none" name="emoStrength1st03" id="1stEmo03Point05" value="5">
                        <label for="1stEmo03Point05" class="form-label text-strength ">
                            5
                        </label>
                    </div>
                </div>
            </div> -->
        </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <%- include('./layout/footer'); -%>

    <!-- modalEmoCards -->
    <ul class="listModal">
        <li></li>
    </ul>

    <!-- 提交錯誤 Modal -->
    <div class="modal fade" id="modalNextErr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4">
                <div class="modal-body d-flex flex-column align-items-center px-48 pt-24 pb-16">
                    <p id="modalNextErrTitle" class="mb-12 fs-3 fw-bold text-pink">尚未完成</p>
                    <p id="modalNextErrText1" class="mt-4 fs-7 text-gray-700">
                        每張情緒卡的情緒強度皆須選填。
                    </p>
                    <div style="width: 45%;">
                        <img class="w-100 pt-24 pb-2" src="../assets/images/addCardFail.svg" alt="img" id="modalNextErrImg">
                    </div>
                    <span class="text-gray-400 fs-11">Illustration by <a class="link-gray-400" href="https://blush.design/artists/RyUTVuP8G4QeAAEEQgug/pablo-stanley">Pablo Stanley</a> from <a class="link-gray-400" href="https://blush.design/">blush design</a></span>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" id="modalNextErrClose" class="btn btn-pink c-btn px-24 py-8 link-white fs-6 rounded-pill" data-bs-dismiss="modal">我知道了</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/baseJs'); -%>
    <script>
        const btnNext = document.querySelector('#btnNext');
        const strengthArea =document.querySelector('#strengthArea');
        const listModal = document.querySelector('.listModal');
        // 抓 local storage 的 卡片資料
        let storageData;
        let storageCards;
        let getAddedCards = localStorage.getItem("addedCards");
        storageData=JSON.parse(getAddedCards);
        storageCards=storageData[0].cards;
        // 將卡片資料印到版面上
        axios.get("https://api.wavemocards.com/emotions?require=cards")
        .then(function(response){
            let aryData = Object.values(response.data);
            let strCards = "";
            let strModal = "";
            let emo;
            initCardsAndModals();
            function initCardsAndModals(){
                storageCards.forEach(function(card, i){
                    let category = aryData[card.ID-1].Category;
                    if(category == "快樂") {
                        emo = "happy";
                    } else if (category == "期待") {
                        emo = "expectation";
                    } else if (category == "安心") {
                        emo = "relived";
                    } else if (category == "不安") {
                        emo = "unstable";
                    } else if (category == "驚訝") {
                        emo = "amazed";
                    } else if (category == "低落") {
                        emo = "sadness";
                    } else if (category == "討厭") {
                        emo = "hate";
                    } else if (category == "生氣") {
                        emo = "anger";
                    } else if (category == "其他") {
                        emo = "others";
                    }

                    if(card.Name.length>2){
                        let contentCards = `
                        <div class="mb-40 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                            <button type="button" class="class-card mb-md-0 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                                <p>${card.Name}</p>
                                <div class="img-box">
                                    <img src="./upload/${card.ID}.svg" alt="${card.Name}">
                                </div>
                            </button>
                            <div class="box-strength d-flex justify-content-between align-items-center">
                                <div>
                                    <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point01" value="1">
                                    <label for="1stEmo${card.ID}Point01" class="form-label text-strength" id="label">
                                        1
                                        <div class="d-none">${card.ID}</div>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point02" value="2">
                                    <label for="1stEmo${card.ID}Point02" class="form-label text-strength" id="label">
                                        2
                                        <div class="d-none">${card.ID}</div>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point03" value="3">
                                    <label for="1stEmo${card.ID}Point03" class="form-label text-strength" id="label">
                                        3
                                        <div class="d-none">${card.ID}</div>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point04" value="4">
                                    <label for="1stEmo${card.ID}Point04" class="form-label text-strength" id="label">
                                        4
                                        <div class="d-none">${card.ID}</div>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point05" value="5">
                                    <label for="1stEmo${card.ID}Point05" class="form-label text-strength" id="label">
                                        5
                                        <div class="d-none">${card.ID}</div>
                                    </label>
                                </div>
                            </div>
                        </div>`;
                        strCards+=contentCards;
                    } else {
                        let contentCards = `
                            <div class="mb-40 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                                <button type="button" class="class-card mb-md-0 bg-${emo} link-gray-900 class-card-${emo}" data-bs-toggle="modal" data-bs-target="#emo${i}">
                                    <p>${card.Name[0]}&nbsp;${card.Name[1]}</p>
                                    <div class="img-box">
                                        <img src="./upload/${card.ID}.svg" alt="${card.Name}">
                                    </div>
                                </button>
                                <div class="box-strength d-flex justify-content-between align-items-center">
                                    <div>
                                        <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point01" value="1">
                                        <label for="1stEmo${card.ID}Point01" class="form-label text-strength" id="label">
                                            1
                                            <div class="d-none">${card.ID}</div>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point02" value="2">
                                        <label for="1stEmo${card.ID}Point02" class="form-label text-strength" id="label">
                                            2
                                            <div class="d-none">${card.ID}</div>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point03" value="3">
                                        <label for="1stEmo${card.ID}Point03" class="form-label text-strength" id="label">
                                            3
                                            <div class="d-none">${card.ID}</div>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point04" value="4">
                                        <label for="1stEmo${card.ID}Point04" class="form-label text-strength" id="label">
                                            4
                                            <div class="d-none">${card.ID}</div>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" class="d-none" name="${card.ID}" id="1stEmo${card.ID}Point05" value="5">
                                        <label for="1stEmo${card.ID}Point05" class="form-label text-strength" id="label">
                                            5
                                            <div class="d-none">${card.ID}</div>
                                        </label>
                                    </div>
                                </div>
                            </div>`;
                        strCards+=contentCards;
                    }
                    strengthArea.innerHTML = strCards;
                    let modalContent = `
                        <li>
                            <div class="modal fade px-32" id="emo${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered c-modal-xl-card">
                                    <div class="modal-content bg-${emo} my-36">
                                        <div class="modal-body d-sm-flex justify-content-between align-items-center position-relative">
                                            <div class="box-bigCard-text">
                                                <div class="d-flex d-md-none w-100 justify-content-center">
                                                    <div class="d-sm-none box-bigCard-img mb-8">
                                                        <img class="w-100" src="./upload/${card.ID}.svg" alt="${card.Name}">
                                                    </div>
                                                </div>
                                                <div class="title w-100 mb-20 d-flex justify-content-center justify-content-sm-between  align-items-end">
                                                    <h2>${card.Name}</h2>
                                                </div>
                                                <div class="mb-16">
                                                    <h3 class="mb-4">意思：</h3>
                                                    <p>${card.Description}</p>
                                                </div>
                                                <div>
                                                    <h3 class="mb-4">例句：</h3>
                                                    <p>${card.Example}</p>
                                                </div>
                                            </div>
                                            <div class="d-none d-sm-block box-bigCard-img">
                                                <img class="w-100" src="./upload/${card.ID}.svg" alt="${card.Name}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>`;
                    strModal+=modalContent;
                    listModal.innerHTML = strModal;
                })
            }
            // 監聽 label 被點擊事件，並記錄所選擇的情緒強度
            const labels = document.querySelectorAll('#label');
            labels.forEach(function(label, i){
                label.addEventListener("click", function(){
                    let cardId = label.childNodes[1].textContent;
                    let value = label.childNodes[0].textContent.trim();
                    storageCards.forEach(function(card, index){
                        if(cardId == card.ID) {
                            card.strength1 = value;
                        }
                    })
                })
            })
            // 確認是否都已選填，並將更新後的資料寫入localStorage
            let fail=true;
            btnNext.addEventListener("click", function(){
                storageCards.forEach(function(card, i){
                    if(card.strength1==undefined){
                        fail=true;
                        btnNext.setAttribute("data-bs-toggle", "modal");
                        btnNext.setAttribute("data-bs-target", "#modalNextErr");
                        btnNext.click();
                        return
                    } else {
                        fail=false;
                    }
                })
                if(fail==false){
                    // 將資料 轉為 string 資料，並將 aryAddedCards 存入 localStorage 中
                    storageData[0].cards=storageCards;
                    let stringAddedCard = JSON.stringify(storageData);
                    localStorage.setItem("addedCards", stringAddedCard);
                    location.href = "findEmoBackground.html";
                }
            })
        })
    </script>
  </body>
</html>