<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒｜分類探索｜低落</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
        <div class="container py-16 pt-72" id="top">
            <!-- title bar -->
            <div class="titleBar d-flex justify-content-between align-items-center">
                <h2>低落</h2>
                <div class="nav-btn d-flex justify-content-end">
                    <a class="btn btn-outline-main c-btn" href="findEmoClassified.html">返回</a>
                    <a class="ms-16 btn btn-main c-btn btn-goToMyCards" href="myEmoCardsHolder.html">
                        <i class="bi bi-folder2"></i>
                        <i class="bi bi-folder2-open"></i>
                        <span class="ms-4">我的情緒卡夾</span>
                    </a>
                </div>
            </div>

            <p class="mb-44 text-gray-550">
                🔎 透過點擊 <i class="bi bi-plus-lg"></i>，將情緒新增進「我的情緒卡夾」中。
            </p>

            <!-- cards -->
            <div class="d-flex flex-wrap mb-72">
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness01">
                        <p>無&nbsp;奈</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness01-helpless.svg" alt="無奈">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness02">
                        <p>挫&nbsp;折</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness02-setback.svg" alt="挫折">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness03">
                        <p>失&nbsp;望</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness03-disappointed.svg" alt="失望">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness04">
                        <p>無&nbsp;力</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness04-powerless.svg" alt="無力">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness05">
                        <p>沮&nbsp;喪</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness05-frustrated.svg" alt="沮喪">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness06">
                        <p>難&nbsp;過</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness06-sad.svg" alt="難過">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness07">
                        <p>無&nbsp;助</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness07-powerless.svg" alt="無助">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness08">
                        <p>悲&nbsp;傷</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness08-sorrow.svg" alt="悲傷">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness09">
                        <p>心&nbsp;痛</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness09-heartache.svg" alt="心痛">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness10">
                        <p>憂&nbsp;鬱</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness10-depressed.svg" alt="憂鬱">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness11">
                        <p>崩&nbsp;潰</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness11-collapse.svg" alt="崩潰">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-sadness link-gray-900 class-card-sadness" data-bs-toggle="modal" data-bs-target="#addSadness12">
                        <p>絕&nbsp;望</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/06-sadness/sadness12-despair.svg" alt="絕望">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/floatButtons') -%>
    
    <%- include('./layout/footer'); -%>
    <%- include('./layout/modalEmoCardsPlus'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>