<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒｜我的情緒故事-背景篇</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
        <div class="container py-16 pt-72" id="top">
            <!-- process bar -->
            <div class="mt-24 d-flex justify-content-end">
                <div class="progressBar mt-16 mb-8 px-12">
                    <div class="position-relative m-4">
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar bg-main-tint01" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="p-num position-absolute top-0 start-0 translate-middle btn btn-sm btn-main-tint01 rounded-pill d-flex justify-content-center align-items-center">
                            <span class="d-block">1</span>
                        </div>
                        <div class="p-num position-absolute top-0 start-20 translate-middle btn btn-sm btn-main-tint01 rounded-pill d-flex justify-content-center align-items-center">
                            <span class="d-block">2</span>
                        </div>
                        <div class="p-num position-absolute top-0 start-40 translate-middle btn btn-sm btn-outline-main-tint01 rounded-pill d-flex justify-content-center align-items-center">
                            <span class="d-block">3</span>
                        </div>
                        <div class="p-num position-absolute top-0 start-60 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                            <span class="d-block">4</span>
                        </div>
                        <div class="p-num position-absolute top-0 start-80 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                            <span class="d-block">5</span>
                        </div>
                        <div class="p-num position-absolute top-0 start-100 translate-middle btn btn-sm btn-outline-gray-450 rounded-pill d-flex justify-content-center align-items-center">
                            <span class="d-block">6</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- title bar -->
            <div class="titleBar d-lg-flex justify-content-between align-items-center">
                <h2>我的情緒故事｜背景篇</h2>
                <div class="nav-btn d-lg-flex justify-content-end">
                    <a class="btn btn-outline-main c-btn" href="findEmoStrength1st.html">上一步</a>
                    <a class="ms-16 btn btn-main c-btn d-flex justify-content-center align-items-center" href="findEmoAction.html"><span class="ms-4">下一步</span></a>
                </div>
            </div>

            <p class="mb-4 text-gray-550 fs-7">
                謝謝親愛的ＯＯ，真誠地感受情緒。
            </p>
            <p class="mb-24 text-gray-550  fs-7">
                接下來，想邀請你潛入情緒故事中，尋找自己情緒的源頭。
            </p>

            <form action="#" method="post">
                <!-- 第一題 -->
                <div class="container">
                    <div class="mb-24 row align-items-center">
                        <div class="col-9 bg-main-tint03 rounded">
                            <label for="whatHappened" class="py-12">
                                <p class="mb-4 text-main fw-500  fs-7">
                                    邀請你輕輕地闔上雙眼，在呼吸的吸吐之間，慢慢地回想，<br>在感受到「ＸＸ、ＸＸ、ＸＸ」的情緒前，發生了什麼事情呢？
                                </p>
                                <p class="text-gray-550 fs-8">
                                    請在下欄中，試著寫下在感受到「ＸＸ、ＸＸ、ＸＸ」情緒的原因、事情、背景故事等。
                                </p>
                            </label>
                            <textarea class="w-100 mb-12 p-12 border rounded border-gray-500 text-gray-900" id="whatHappened" name="whatHappened"></textarea>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <img class="d-block" src="../assets/images/emoStory/lime-diving.svg" alt="a man is diving">
                        </div>
                    </div>
                </div>
            </form>

            <!-- 圖片引用來源 -->
            <div class="text-end mb-64">
                <span class="text-gray-500 fs-11">
                    Illustration by <a class="link-gray-500" href="https://icons8.com/illustrations/author/iAdLsFJOKDrk" target="_blank">Tanya Krasutska</a> from <a class="link-gray-500" href="https://icons8.com/illustrations" target="_blank">Ouch!</a>
                </span>
            </div>
        </div>
    </main>

    <%- include('./layout/floatButton') -%>
    
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
    <script type="text/javascript" src="../assets/js/textarea.js"></script>
  </body>
</html>