<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLogined'); -%>

    <main>
      <div class="container py-16 mb-48">
          <!-- 標題欄 -->
          <div class="titleBar d-flex justify-content-between align-items-center">
            <h2>找尋我的情緒</h2>
          </div>
  
          <!-- 導覽說明 -->
        <div class="guid px-24 py-16 bg-main-tint03">
          <p class="mb-8">你在情緒的世界裡迷航了嗎？</p>
          <p class="mb-8">沒關係，讓我們一起在浪潮情緒卡中，找尋自己的情緒。</p>
          <p>
            你可以藉由以下兩種方式「
            <a class="px-4" href="">分類探索</a>
            」、「
            <a class="px-4" href="">自由探索</a>
            」，挑選情緒卡。
          </p>
        </div>
  
        <!-- 兩大按鈕 -->
        <div class="py-32 d-flex justify-content-center">
          <a class="btn-find me-96 d-flex flex-column align-items-center" href="findEmoClassified.html">
            <h2>分類探索</h2>
            <img class="default" src="../assets/images/findEmoClassified.svg" alt="分類探索">
            <img class="hover" src="../assets/images/findEmoClassifiedHover.svg" alt="分類探索">
          </a>
          <a class="btn-find d-flex flex-column align-items-center" href="findEmoFree.html">
            <h2>自由探索</h2>
            <img class="default" src="../assets/images/finEmoFree.svg" alt="自由探索">
            <img class="hover" src="../assets/images/findEmoClassifiedHover.svg" alt="分類探索">
          </a>
        </div>
      </div>
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="text/javascript" src="../assets/js/mouseoverTitle.js"></script>
  </body>
</html>