<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜找尋我的情緒｜分類探索｜其他</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
        <div class="container py-16 pt-72" id="top">
            <!-- title bar -->
            <div class="titleBar d-flex justify-content-between align-items-center">
                <h2>其他</h2>
                <div class="nav-btn d-flex justify-content-end">
                    <a class="btn btn-outline-main c-btn" href="findEmoClassified.html">返回</a>
                    <a class="ms-16 btn btn-main c-btn btn-goToMyCards" href="myEmoCardsHolder.html">
                        <i class="bi bi-folder2"></i>
                        <i class="bi bi-folder2-open"></i>
                        <span class="ms-4">我的情緒卡夾</span>
                    </a>
                </div>
            </div>

            <p class="mb-44 text-gray-550">
                🔎 透過點擊 <i class="bi bi-plus-lg"></i>，將情緒新增進「我的情緒卡夾」中。
            </p>

            <!-- cards -->
            <div class="d-flex flex-wrap mb-72">
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers01">
                        <p>釋&nbsp;懷</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others01-release.svg" alt="釋懷">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers02">
                        <p>尷&nbsp;尬</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others02-awkward.svg" alt="尷尬">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers03">
                        <p>羨&nbsp;慕</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others03-envy.svg" alt="羨慕">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers04">
                        <p>愧&nbsp;疚</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others04-guilty.svg" alt="愧疚">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers05">
                        <p>矛&nbsp;盾</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others05-conflict.svg" alt="矛盾">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers06">
                        <p>後&nbsp;悔</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others06-regret.svg" alt="後悔">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers07">
                        <p>委&nbsp;屈</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others07-injustice.svg" alt="委屈">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers08">
                        <p>寂&nbsp;寞</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others08-loneliness.svg" alt="寂寞">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers09">
                        <p>羞&nbsp;恥</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others09-shame.svg" alt="羞恥">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers10">
                        <p>感&nbsp;動</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others10-touching.svg" alt="感動">
                        </div>
                    </button>
                </div>
                <div class="position-relative me-24">
                    <a class="position-absolute top-0 start-100 translate-middle btn-add-card-m"></a>
                    <button type="button" class="class-card mb-12 bg-others link-gray-900 class-card-others" data-bs-toggle="modal" data-bs-target="#addOthers11">
                        <p>激&nbsp;動</p>
                        <div class="img-box">
                            <img src="https://wavemocards.com/frontend/upload/09-others/others11-excited.svg" alt="激動">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/floatButtons') -%>
    
    <%- include('./layout/footer'); -%>
    <%- include('./layout/modalEmoCardsPlus'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>