<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main class="homepage">
      <div class="container">
        <h2 class="text-white mb-24">找尋自我</h2>
        <h2 class="text-white text-end mb-40">情緒的浪潮</h2>
        <div class="d-flex justify-content-center w-100">
          <a class="px-64 btn btn-pink c-btn c-btn-xl" href="aboutEmotions.html">認識情緒</a>
        </div>
      </div>
    </main>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>
