<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜編輯情緒卡</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>

    <main>
        <div class="container py-16 pt-72" id="top">
            <!-- 標題欄 -->
            <div class="titleBar d-flex justify-content-between align-items-center">
                <h2>編輯情緒卡</h2>
                <div class="nav-btn d-flex justify-content-end">
                    <a class="btn btn-outline-main c-btn" href="emoCardsClassified.html">取消</a>
                </div>
            </div>
    
            <!-- 表單區 -->
            <div class="emoForm">
                <form action="" method="post" class="needs-validation" novalidate>
                    <!-- 上傳圖片 -->
                    <div class="w-100 d-flex justify-content-center align-items-end">
                        <div class="mb-16 addImg">
                            <img class="w-100 h-100" src="../assets/images/01-happy/happy02-happy.svg" alt="">
                            <i class="bi bi-plus-circle-fill btn-add"></i>
                        </div>
                    </div>
                    <!-- 情緒詞彙 -->
                    <div class="mb-16">
                        <label for="disabledInput" class="form-label  d-flex justify-content-between">
                            情緒詞彙
                            <!-- <span class="must">*必填</span> -->
                        </label>
                        <input type="text" class="form-control px-20 rounded-pill" id="disabledInput" placeholder="快樂" disabled>
                    </div>
                    <!-- 意思 -->
                    <div class="mb-16">
                        <label for="addEmoDefinition" class="form-label  d-flex justify-content-between">
                            意思
                            <!-- <span class="must">*必填</span> -->
                        </label>
                        <input type="text" class="form-control px-20 rounded-pill" id="addEmoDefinition" placeholder="對事情感到滿意的反應，令人心情良好、滿足和舒暢。">
                    </div>
                    <!-- 例句 -->
                    <div class="mb-16">
                        <label for="addEmoExample" class="form-label d-flex justify-content-between">
                            例句
                            <!-- <span class="must">*必填</span> -->
                        </label>
                        <input type="text" class="form-control px-20 rounded-pill" id="addEmoExample" placeholder="放學後，我和好朋友一起去吃東西、聊天，而感到好快樂。">
                    </div>
                    <!-- 分類 -->
                    <div class="mb-32">
                        <label for="addEmoClass" class="form-label d-flex justify-content-between">
                            分類
                            <span class="must">*必填</span>
                        </label>
                        <select class="form-select px-20 rounded-pill" aria-label="Default select example" id="addEmoClass" required>
                            <option value="快樂">快樂</option>
                            <option value="期待">期待</option>
                            <option value="放鬆">放鬆</option>
                            <option value="不安">不安</option>
                            <option value="驚訝">驚訝</option>
                            <option value="低落">低落</option>
                            <option value="討厭">討厭</option>
                            <option value="生氣">生氣</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <!-- 按鈕 -->
                    <button class="w-100 mb-32 py-8 btn btn-main c-btn" type="submit">新增</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('./layout/floatButton') -%>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>