<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>浪潮情緒卡｜我的紀錄｜情緒故事</title>
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <%- include('./layout/headerLoggedIn'); -%>

        <main>
            <div class="container py-16 mb-48 pt-72" id="top">
                <!-- title bar -->
                <div class="mb-8 pt-32 pb-8 d-flex justify-content-between align-items-center border-2 border-bottom border-main-tint02">
                    <h2 class="fs-3">我的紀錄｜情緒故事</h2>
                    <div class="nav-btn d-flex justify-content-end">
                        <a class="btn btn-outline-main c-btn" href="myRecords.html">返回</a>
                        <a class="ms-16 btn btn-outline-main c-btn" href="#shared">分享清單</a>
                        <a class="ms-16 btn btn-main c-btn d-flex justify-content-center align-items-center" href="myRecordsEmoStoryModify.html">編輯</a>
                    </div>
                </div>
                <!-- 分享、刪除 -->
                <div class="d-flex justify-content-end align-items-center">
                    <button class="me-16 rounded-pill border-0 fs-5 c-btn-icon">
                    <i class="bi bi-trash3"></i>
                    </button>
                    <button class="rounded-pill border-0 fs-5 c-btn-icon">
                    <i class="bi bi-share"></i>
                    </button>
                </div>

                <div class="container">
                    <!-- 第 1 區 日期與情緒 -->
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 bg-main text-white fw-bold rounded-1">日期</div>
                        <div class="col-10 px-12 py-8">2023 / 03 / 14</div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 bg-main text-white fw-bold rounded-1">情緒強度｜第一次</div>
                        <div class="col-10 px-12 py-8">快樂 5・幸福 4・安心 3</div>
                    </div>
                    <div class="row mb-24 justify-content-end">
                        <div class="col-2 px-12 py-8 bg-main text-white fw-bold rounded-1">情緒強度｜第二次</div>
                        <div class="col-10 px-12 py-8">快樂 5・幸福 4・安心 3</div>
                    </div>
                    <!-- 第 2 區 情緒故事｜背景篇 -->
                    <div class="row mb-16">
                        <div class="col px-8 py-4 border border-start-0 border-end-0 border-top-0 border-2 border-main-tint02 text-main fw-bold fs-6">情緒故事｜背景篇</div>
                    </div>
                    <div class="row mb-24">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">情緒的原因/背景</div>
                        <div class="col-10 px-12 py-8">同學誇獎我總是很貼心，做事也很細心。說我是她很重要的朋友。</div>
                    </div>
                    <!-- 第 3 區 情緒故事｜行動篇 -->
                    <div class="row mb-16">
                        <div class="col px-8 py-4 border border-start-0 border-end-0 border-top-0 border-2 border-main-tint02 text-main fw-bold fs-6">情緒故事｜行動篇</div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">情緒後我所做的行動</div>
                        <div class="col-10 px-12 py-8">我很開心地跑去和同學Ｂ說。</div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">行動後的結果</div>
                        <div class="col-10 px-12 py-8 bg-gray-200 rounded-1">同學Ｂ聽完後很開心地說他也要跟我們一起出去玩！</div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">結果帶給我的感受</div>
                        <div class="col-10 px-12 py-8">我很開心！</div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">結果好或不好？</div>
                        <div class="col-10 px-12 py-8 bg-gray-200 rounded-1">好</div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">是否感到後悔</div>
                        <div class="col-10 px-12 py-8">否</div>
                    </div>
                    <div class="row mb-32">
                        <div class="col-2 px-12 py-8 d-flex align-items-center bg-main-tint02 fw-500 rounded-1">下次怎麼做會更好呢？</div>
                        <div class="col-10 px-12 py-8 bg-gray-200 rounded-1"></div>
                    </div>
                    <!-- 第 4 區 分享清單 -->
                    <div class="mb-24 pt-32 pb-8 d-flex justify-content-between align-items-center border-2 border-bottom border-main-tint02" id="shared">
                        <h2 class="fs-3">我的紀錄｜分享清單</h2> 
                        <button class="me-16 rounded-pill border-0 fs-5 c-btn-icon">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                    <table class="mb-24 table table-hover c-table-border">
                        <thead>
                            <tr class="table-main-tint01 text-center">
                                <th scope="col"></th>
                                <th scope="col">日期</th>
                                <th scope="col">對象</th>
                                <th scope="col">身份</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <th scope="row">
                                <input type="checkbox" id="">
                                </th>
                                <td>2023 / 03 / 14</td>
                                <td>陳鳳香</td>
                                <td>教師</td>
                            </tr>
                            <tr class="text-center table-main-tint03">
                                <th scope="row">
                                <input type="checkbox" id="">
                                </th>
                                <td>2023 / 03 / 15</td>
                                <td>林凱翔</td>
                                <td>學生</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <%- include('./layout/floatButton') -%>
        <%- include('./layout/footer'); -%>

        <%- include('./layout/baseJs'); -%>
    </body>
</html>