<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>浪潮情緒卡｜我的紀錄</title>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include('./layout/headerLoggedIn'); -%>
    <main>
      <div class="container py-16 pt-72" id="top">
        <!-- 標題 -->
        <div class="titleBar d-flex justify-content-between align-items-center">
            <h2>我的紀錄</h2>
            <div class="nav-btn d-flex justify-content-end">
                <div class="btn-disable">紀錄</div>
                <a class="ms-16 btn btn-outline-main c-btn" href="myRecordsAnalyze.html">分析</a>
            </div>
        </div>
        
        <!-- 搜尋條 & 分享、刪除 -->
        <div class="mb-24 d-flex justify-content-between align-items-center">
          <!-- 搜尋條 -->
          <form action="" method="get">
            <div class="d-flex align-items-center">
              <input type="date" class="d-block input-date me-8 px-16 py-6 border border-main-tint02 border-2 rounded-pill text-main-tint01">
              <span class="me-8 text-main-tint01">～</span>
              <input type="date" class="d-block input-date me-12 px-16 py-6 border border-main-tint02 border-2 rounded-pill text-main-tint01">
              <input type="search" class="search-bar me-8 py-12 border border-main-tint02 border-2 rounded-pill" placeholder="請輸入關鍵字">
              <button type="submit" class="btn btn-main c-btn px-24 py-8 border-0">搜尋</button>
            </div>
          </form>
          <!-- 分享、刪除 -->
          <div class="d-flex align-items-center">
            <button class="me-16 rounded-pill border-0 fs-5 c-btn-icon">
              <i class="bi bi-trash3"></i>
            </button>
            <button class="rounded-pill border-0 fs-5 c-btn-icon">
              <i class="bi bi-share"></i>
            </button>
          </div>
        </div>
  
        <!-- Table -->
        <table class="mb-24 table table-hover c-table-border">
          <thead>
            <tr class="table-main-tint01 text-center">
              <th scope="col"></th>
              <th scope="col">日期</th>
              <th scope="col">情緒與強度</th>
              <th scope="col">分享人數</th>
              <th scope="col">情緒故事與分享</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <th scope="row">
                <input type="checkbox" id="">
              </th>
              <td>2023/03/14</td>
              <td>快樂 5・幸福 4・安心 3</td>
              <td>2次</td>
              <td><a class="link-main" href="myRecordsEmoStory.html">由此進入</a></td>
            </tr>
            <tr class="text-center table-main-tint03">
              <th scope="row">
                <input type="checkbox" id="">
              </th>
              <td>2023/03/14</td>
              <td>快樂 5・幸福 4・安心 3</td>
              <td>0次</td>
              <td><a class="link-main" href="myRecordsEmoStory.html">由此進入</a></td>
            </tr>
            <tr class="text-center">
              <th scope="row">
                <input type="checkbox" id="">
              </th>
              <td>2023/03/14</td>
              <td>快樂 5・幸福 4・安心 3</td>
              <td>0次</td>
              <td><a class="link-main" href="myRecordsEmoStory.html">由此進入</a></td>
            </tr>
            <tr class="text-center table-main-tint03">
              <th scope="row">
                <input type="checkbox" id="">
              </th>
              <td>2023/03/14</td>
              <td>快樂 5・幸福 4・安心 3</td>
              <td>0次</td>
              <td><a class="link-main" href="myRecordsEmoStory.html">由此進入</a></td>
            </tr>
          </tbody>
        </table>
  
        <!-- 分頁 -->
        <div class="mb-64 d-flex justify-content-end pt-72" id="top">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link rounded-pill" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </span>
              </li>
              <li class="page-item "><span class="page-link rounded-pill active" href="#">1</span></li>
              <li class="page-item"><a class="page-link rounded-pill" href="#">2</a></li>
              <li class="page-item"><a class="page-link rounded-pill" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link rounded-pill" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <%- include('./layout/floatButton') -%>
    <%- include('./layout/footer'); -%>

    <%- include('./layout/baseJs'); -%>
  </body>
</html>
